<?xml version="1.0" encoding="utf-8"?>
<project xmlns="http://oracc.org/ns/xpd/1.0" xmlns:xpd="http://oracc.org/ns/xpd/1.0"
	 n="./x">
  <logo type="text">x</logo>
  <abbrev>x</abbrev>
  <option name="l2" value="yes"/>
  <option name="sum-alias" value="yes"/>
  <option name="%akk-x-neoass" value="saa"/>
  <option name="%sux" value=". epsd2"/>
</project>
