body { margin: 0; padding: 0; line-height: 12pt }
applet { margin: 0; padding: 0; border: 0 }

div.applet { width: 512; height: 500; margin: auto;
	   }

div.keydoc { width: 512; height: 20; font-size: 10pt; margin: auto;
 	   }

p { text-align: center }
