body { font-family: serif; font-weight: normal; font-size: 1em }
.roman { font-family: serif; font-weight: normal; font-size: 1em; }
    
.broken {
  background-image: url('/breaks.png');
  background-repeat: repeat;
}

span.osquare:before { content: "["; }
span.csquare:before { content: "]"; }

.cuneify-label { font-size: 70%; color: gray; }

.cuneify-text { width: 99%; 
	      }

.cuneify-line { 
}

.cuneify-content {
		width: 100%;
	      	text-align: justify;
		}
