body  { font-size: 100%; width: 400px; margin: auto; }
h1    { font-size: 120%; font-weight: bold; text-align: center; margin-bottom: 5px; }
h2    { font-size: 110%; font-weight: normal; font-style: italic; margin-top: 5px; }
dt    { font-size: 10pt; color: red }
