div.redirect  { border: 4px solid red; padding: 5px; }

body { 
       background-color: #fff8dc; 
      }

#wrapper  { margin: 0 auto; width: 600px; }

div.banner { font-size: 16pt; line-height: 1.4em; height: 175px;
	   background-image: url(/cbs16obv-bit2.png); color: #222;
	   border-bottom: 1px solid red; font-weight: bold; }
.banner p { text-align: right; padding-top: 0px; margin-top: 0px;
	    font-family: Cochin, "Times New Roman", serif; 
	  }

.voracc { padding-top: 15pt; margin-bottom: -170px; }
.oracc { font-size: 34pt; color: brown; /*#fc9;*/
	 font-family: Times New Roman, Serif;
	 line-height: 22pt;
	 margin-top: 0pt; padding-top: 0pt;
	 margin-bottom: 0pt; padding-bottom: 0pt;
	 text-indent: 36pt; text-align: left }

.o2 { text-indent: 42pt; }
.o3 { text-indent: 40pt; }
.o4 { text-indent: 40pt; }
.o5 { text-indent: 40pt; }

.small { font-size: 12pt; line-height: 1.25em; }
.blet { padding: 3px; }
.clet { padding: 2.8px; }
.bsp  { padding: 3px; }

.slogan p.large { font-size: 13pt; }
.slogan { font-size: 12pt; font-style: italic; 
	  text-align: right; }

div.left-container { width: 98px;  float: left;
		     padding: 0px;
		     margin: 0px;
		     border-right: 1px solid red; 
#		     background-color: #fffacd; 
		     background-color: lavender;
		     lineheight: 1em;
		     color: black; 
		   }

div.left-container * { vertical-align: text-top; }

div.right-container { width: 500px; float: left;
		      padding: 0px; margin: 0px;
		      line-height: 1.4em; 
		      color: black; background-color: #fffacd;
		    }

div.project-list { width: 98px; 
		   padding: 0px;
		   margin: 0px;
		   background-color: lavender;
		 }

.project-list p  { text-align: center; padding: 0px; margin: 0px; 
		 margin-top: 5px; }

body.nestedlist { width: 80px; 
		  padding: 0px; margin: 0px;
		  background-color: lavender;
		}
div.nestedlist {  width: 80px; 
		  padding: 0px; margin: 0px;
		  background-color: lavender;
	       }

div.nestedlist p { 
    width: 79px; text-indent: 5px;
    margin-top: 0px; padding-top: 0px;
    padding-bottom: 0px; margin-bottom: 0px;
    font-family: "Verdana", sans-serif;
    font-size: 10pt;
    text-align: center;
    color: blue;
    line-height: 1.5em;
}

.project-list p a { color: blue; }

div.stuff { padding: 0px;
	    background-color: #fffacd;
	    height: 265px;
	  }

div.about { width: 336px; float: left; height: 265px;
	    text-align: justify;
	    background-color: #fffacd;
	    padding-top: 0px; padding-bottom: 0px;
	    padding-left: 0px; padding-right: 0px;
	    margin: 0px;
	    font-size: 13pt; line-height: 1.2em;
	    font-family: Baskerville, Cambria, "Times New Roman", serif;
	  }

div.links { width: 162px; height: 265px; float: left; 
	    padding-left: 0px; text-align: right;
	    background-color: lavender;
	    border-left: 1px solid red;
	    margin-top: 0px;
	    margin-bottom: 0px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    padding-right: 0px; 
       	  }

div.links p { width: 147px; 
	      padding-left: 0px; margin-left: 0px;
	      padding-right: 3px; margin-right: 0px; 
	      font-family: Verdana, sans-serif; font-size: 10pt;
	      padding-top: 0px; padding-bottom: 0px;
	      margin-top: 3px; margin-bottom: 3px;
	    }

div.links form { padding-top: 24px; }
div.searchform { width: 154px; text-align: center; }
input.button { font-size: 9px; padding: 0px; margin: 0px; 
	     }
input.textbox { font-size: 9px; }

div.featured { clear: both; width: 600px; 
		border-top: 1px solid red; 
		/* border-bottom: 3px solid red;  */
	     }

div.vertical1 { float: left; width: 20px; 
		height: 280px;
		padding: 0px;
		margin: 0px;
		padding-top: 5px;
		background-color: purple; 
		color: white;
	      }

iframe { padding: 0px; margin: 0px; border: none; }

div.vertical2 { float: left; width: 20px; 
		padding: 0px; margin: 0px; 
		padding-top: 5px;
		height: 280px;
		background-color: purple; 
	        color: white; }

.vertical1 p { padding: 0px; margin: 0px; 
	       line-height: 1.45em;
	       font-family: Futura, Verdana, Serif;
	       text-align: center; }
.vertical2 p { padding: 0px; margin: 0px; 
	       line-height: 1.45em;
	       font-family: Futura, Verdana, Serif;
	       text-align: center; }

div.featured-project { float: left; width: 557px;
		       line-height: 1.3em; text-align: right; 
		       background-color: #fffacd;
		       padding-bottom: 0px;
		       color: #333;
		       border-bottom: 3px solid purple;
		     }

.featured-project h2 { background-color: white; color: purple; 
		       padding: 5px; margin: 0px;
		       font-family: Futura, Verdana, Serif;
		       font-weight: normal;
		       border-bottom: 3px solid purple;
		     }

.featured-project p { font-size: 12pt; padding-right: 5px; 
		      font-family: Baskerville, Cambria, serif; }

.feature-float { clear: both;
	  float: left;
	  padding: 0px;
	  margin-left: 3px; margin-right: 0px;
	  margin-top: 4px; padding-bottom: 4px;
/*
	  margin: 0px;
	  padding-left: 3px; padding-right: 0px;
	  padding-top: 4px; padding-bottom: 4px;
 */
	}

h1     { color: white; 
         background-color: brown;
         font-family: arial, sans-serif; 
	 font-size: 14pt; font-weight: bold;
	 padding: 2px; }

h2 { font-size: 13pt; font-weight: normal; color: brown; padding-top: 0px; margin-top: 5px; }

h3 { font-size: 11pt; color: brown; padding-top: 0px; margin-top: 5px; }

h4 { font-size: 9pt; color: brown; padding-top: 0px; margin-top: 5px; }

.about p  { width: 320px; font-size: 13pt; 
	    padding-top: 20px; margin-top: 0px; 
	    padding-bottom: 0px; margin-bottom: 0px; 
	    margin-left: 7px; margin-right: 0px;
	    color: #333;
	    font-family: Baskerville, Cambria, serif;
	  }

a { text-decoration: none; }

dt { padding-left: 5px; color: brown; }

ul { padding-left: 0px; padding-right: 0px; 
     margin-left: 0px; margin-right: 0px; }

li { padding-left: 0px; padding-right: 0px; 
     margin-left: 20px; margin-right: 0px; }

hr.project-sep { width: 79px; 
		 margin-left: 5px; }

hr.tight { padding-top: 0pt; margin-top: 0pt; 
	   padding-bottom: 0pt; margin-bottom: 0pt; }

form { margin: 0px; padding: 0px; }

body.subpage { font-family: Baskerville, Cambria, serif; 
	       line-height: 1.3em;
	       text-align: justify;
	       width: 600px; margin: auto;
	     }

div.project-entry { clear: both; margin-bottom: 10px; }

.project-float { clear: both;
	  float: left;
	  margin: 4px;
	  padding-right: .5em; 
	  padding-bottom: 1em;
	}

body.featured { padding: 0px; margin: 0px; margin-right: 0px; 
	        clear: both; width: 557px; }

a img { border: none; }

.default-index h1 { text-align: center; 
		    border-top: solid red 3px;
		    background-color: #fffacd;
		    color: black;
		    font-family: Cochin, "Times New Roman", Serif;
		    font-weight: normal;
		    font-size: 30px;
		    padding: 10px; 
		    line-height: 1.5em;
		    margin: 5px; }
span.default-index-abbrev { font-size: 40px; }
p.default-index-img { text-align: center; }
p.default-index-blurb { text-align: justify; }
p.default-index-link { }
