* { font-family: sanserif,helvetica,arial; }
h1 { font-weight: bold; font-size: 100% }
p.back  { font-weight: regular; font-style: italic; font-size: 80%;
     margin: 1pt; margin-left: 1pt }
p  { font-weight: regular; margin: 1pt; font-size: 80%; margin-left: 5pt }
a  { text-decoration: none }
