*.Plo
*.Po
*.a
*.atf
*.catf
*.html
*.la
*.lo
*.log
*.m4
*.o
*.out
*.rng
*.xtf
*~
.deps
.libs
1.0/index.html
Makefile
Makefile.in
a.out.dSYM
aclocal.m4
autom4te.cache/
c.log
c/bin/despatcher/#Makefile.am#
c/bin/despatcher/.#Makefile.am
c/bin/despatcher/ccgi/examples/dump.cgi
c/bin/despatcher/ccgi/t/test
c/bin/despatcher/or_builtins.c
c/bin/despatcher/or_common.c
c/bin/despatcher/or_gdf.c
c/bin/despatcher/or_pqx.c
c/bin/despatcher/or_response.c
c/bin/despatcher/or_stable_uris.c
c/bin/despatcher/oracc-resolver
c/bin/despatcher/oracc-resolver.c
c/bin/despatcher/oraccpager-debug.log
c/bin/despatcher/p3.c
c/bin/despatcher/pqx_map.c
c/bin/despatcher/tests/PQX-pager.log
c/bin/lemmer/.gdbinit
c/bin/lemmer/bigrams
c/bin/lemmer/lemmer
c/bin/lemmer/ngrammer
c/bin/lemmer/test
c/bin/lemmer/xis
c/bin/lemmer/xis2
c/bin/matrix/matrix
c/bin/oraccd/#oracc-client-async.c#
c/bin/oraccd/#oracc-client.c#
c/bin/oraccd/apue.h
c/bin/oraccd/arch
c/bin/oraccd/bits.c
c/bin/oraccd/cli.c
c/bin/oraccd/lib.c
c/bin/oraccd/lockfile.c
c/bin/oraccd/messaging.c
c/bin/oraccd/mif.c
c/bin/oraccd/old-daemon.c
c/bin/oraccd/oracc-client
c/bin/oraccd/oracc-client.c.BAK
c/bin/oraccd/oracc-xmlrpc-cgi
c/bin/oraccd/oraccd
c/bin/oraccd/paper.pdf
c/bin/oraccd/x.b64
c/bin/oraccnet/client/oracc-build-client.sh
c/bin/oraccnet/client/oracc-client
c/bin/oraccnet/httpdo/oracc-httpdo
c/bin/oraccnet/lib/m_build_server.c
c/bin/oraccnet/lib/m_ox_server.c
c/bin/oraccnet/lib/varoracc.c
c/bin/oraccnet/server/oracc-server
c/bin/oraccnet/xmlrpc/oracc-build-server.sh
c/bin/oraccnet/xmlrpc/oracc-xmlrpc
c/bin/pg/pd
c/bin/pg/pd.c
c/bin/pg/pg
c/bin/pg/pg2
c/bin/pg/pg2.c
c/bin/pg/pgcsi
c/bin/pg/pgu
c/bin/pg/ptoq.c
c/bin/pg/ptoqtest
c/bin/pg/showcsi
c/bin/pg/sortinfo.c
c/bin/pg/xisperiods
c/bin/rnv/rnv
c/bin/se/ce
c/bin/se/ce2
c/bin/se/ce2.c
c/bin/se/ce_xmd.c
c/bin/se/ce_xtf
c/bin/se/masktest
c/bin/se/se
c/bin/se/secatx/secatx
c/bin/se/secbdx/secbdx
c/bin/se/sedbg
c/bin/se/selemx/selemx
c/bin/se/setrax/setrax
c/bin/se/setxtx/log
c/bin/se/setxtx/setxtx
c/bin/se/sl
c/bin/se/sl-index
c/bin/se/wm
c/bin/se/wmapper
c/bin/se/wmdebug
c/bin/sort/psdsort
c/bin/tests/words/wordtest
c/bin/util/concord
c/bin/util/filesize
c/bin/util/gdf
c/bin/util/haslinks
c/bin/util/haslinks.c
c/bin/util/haslinks1
c/bin/util/isogmt
c/bin/util/jpegsize
c/bin/util/linkfiles
c/bin/util/newext
c/bin/util/oraccd
c/bin/util/oraccopt
c/bin/util/pqunion
c/bin/util/pqxpand
c/bin/util/sigfixer
c/bin/util/sigmap
c/bin/util/sigmap.c
c/bin/util/signiary
c/bin/util/utf8v
c/bin/util/xalias
c/bin/util/xfrag
c/bin/util/xmlnl
c/bin/util/xmlns
c/bin/util/xmlsplit
c/l2/bigrams/bigrams.c
c/l2/nsa/nsatest
c/l2/prop/props_auto.c
c/l2/prop/props_load.c
c/l2/x/sux.xml
c/l2/x/to-lem.xcl
c/l2/x/y.xcl
c/l2/x/z.xml
c/l2/xli/xli_sux.c
c/lib/collate/mktablst
c/lib/collate/seq2c
c/lib/gsl/gsl.c
c/lib/oracc/xpd2.c
c/lib/rnv/rnv
c/lib/skl/skl_file.c
c/nohup.out
c/otf/lib/catvec.c
c/otf/lib/mk_rnc.sh
c/otf/lib/pnames.c
c/otf/lng/langinst.c
c/otf/otf/cdt_reader.c
c/otf/ox/atffile.c
c/otf/ox/gdlme2
c/otf/ox/initterm.c
c/otf/ox/log
c/otf/ox/odt_writer.c
c/otf/ox/ox
c/otf/ox/post_option_setup.c
c/otf/ox/prj
c/otf/ox/tok
c/otf/ox/x
c/otf/prj/set_project.c
config.h
config.h.in
config.log
config.status
configure
doc/builder/bilinguals/html/
doc/builder/cdli/html/
doc/builder/dates/html/
doc/builder/emacs/aquamacs/html/
doc/builder/emacs/emacsw32/html/
doc/builder/emacs/html/
doc/builder/index.xml
doc/builder/index00.xml
doc/builder/l2/BFFs/html/
doc/builder/l2/COFs/html/
doc/builder/l2/F2/html/
doc/builder/l2/PSUs/html/
doc/builder/l2/glossaries/html/
doc/builder/l2/howitworks/html/
doc/builder/l2/howtouseit/html/
doc/builder/l2/lem/html/
doc/builder/l2/lemsyntax/html/
doc/builder/labels/html/
doc/builder/layouts/html/
doc/builder/linganno/AKK/akk-ob/html/
doc/builder/linganno/AKK/akk-roots/html/
doc/builder/linganno/AKK/akkstyle/html/
doc/builder/linganno/AKK/html/
doc/builder/linganno/ARC/html/
doc/builder/linganno/ELX/html/
doc/builder/linganno/GRC/html/
doc/builder/linganno/PEO/html/
doc/builder/linganno/QPN/html/
doc/builder/linganno/SUX/html/
doc/builder/linganno/SUX/primer/html/
doc/builder/linganno/SUX/syntax/html/
doc/builder/linganno/UGA/html/
doc/builder/linganno/html/
doc/builder/math/html/
doc/builder/metrology/html/
doc/builder/metrology/log
doc/builder/numbers/html/
doc/builder/primer/html/
doc/builder/quickref/html/
doc/builder/scores/html/
doc/builder/translation/html/
doc/developer/cuneify/html/
doc/developer/exist/example1/html/
doc/developer/exist/example2/html/
doc/developer/exist/example3/html/
doc/developer/exist/example4/html/
doc/developer/exist/example5/html/
doc/developer/exist/example6/html/
doc/developer/exist/example7/html/
doc/developer/exist/example8/html/
doc/developer/exist/html/
doc/developer/exist/install/html/
doc/developer/exist/projects/html/
doc/developer/exist/starting/html/
doc/developer/fxr/1.0/html/
doc/developer/index.xml
doc/developer/l2/howitworks/html/
doc/developer/l2/howtouseit/html/
doc/developer/l2/html/
doc/developer/l2/langtags/html/
doc/developer/l2/lemsyntax/html/
doc/developer/nsa/html/
doc/developer/opendocument/html/
doc/developer/projweb/html/
doc/developer/psa/html/
doc/developer/tei/html/
doc/developer/uri/html/
doc/developer/versions/html/
doc/developer/xdftut/html/
doc/developer/xmlarch/html/
doc/install/basics/html/index.html
doc/install/neworacc/html/
doc/install/neworacc/html/index.html
doc/install/ports/html/
doc/install/ports/html/index.html
doc/install/prereqs/html/
doc/install/prereqs/html/index.html
doc/manager/filesystem/html/
doc/manager/index.xml
doc/manager/portals/esp/html/
doc/manager/portals/espbuild/html/
doc/manager/portals/espcontent/html/
doc/manager/portals/espcontent/rnc2rng.log
doc/manager/portals/espelements/html/
doc/manager/portals/espelements/rnc2rng.log
doc/manager/portals/esperrors/html/
doc/manager/portals/espimages/html/
doc/manager/portals/espsetup/html/
doc/manager/portals/espsetup/rnc2rng.log
doc/manager/portals/html/
doc/manager/portals/projurls/html/
doc/manager/portals/rnc2rng.log
doc/manager/projcats/html/
doc/manager/projconfig/c2/colours/html/
doc/manager/projconfig/c2/html/
doc/manager/projconfig/c2/ol/html/
doc/manager/projconfig/c2/pll/html/
doc/manager/projconfig/c2/views/html/
doc/manager/projconfig/html/
doc/manager/projects/html/
doc/manager/projemacs/html/
doc/manager/projlife/html/
doc/manager/projunix/html/
doc/manager/proxies/html/
doc/manager/the-oracc-command/html/
doc/manager/webcolours/html/
doc/ns/*/*/html/*
doc/ns/cbd/1.0/html/
doc/ns/cbd/2.0/html/
doc/ns/cdf/1.0/html/
doc/ns/esp/1.0/html/
doc/ns/gdl/1.0/html/gdltut.html
doc/ns/gdl/1.0/html/index.html
doc/ns/index.xml
doc/ns/nohup.out
doc/ns/sl/1.0/html/
doc/ns/xcf/1.0/html/
doc/ns/xcl/1.0/html/
doc/ns/xdf/1.0/html/
doc/ns/xmd/1.0/html/
doc/ns/xpd/1.0/html/
doc/ns/xse/1.0/html/
doc/ns/xst/1.0/html/
doc/ns/xtc/1.0/html/
doc/ns/xtf/1.0/html/
doc/ns/xtr/1.0/html/
doc/ood/gdf/html/index.html
doc/ood/html/index.html
doc/ood/resources/html/index.html
doc/ood/uri-examples/html/index.html
doc/ood/uri-patterns/html/index.html
doc/ood/uri-text/html/index.html
doc/ood/uris/html/index.html
doc/ood/urns/html/index.html
doc/user/advanced/html/
doc/user/citing/html/
doc/user/fonts/html/
doc/user/fulltextsearch/html/
doc/user/glossaries/html/
doc/user/index.xml
doc/user/keyboards/html/
doc/user/p2/html/
doc/user/searching/html/
doc/user/unicode/html/
doc/user/userguide/html/
libtool
log
ltmain.sh
m4/*
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
misc/admin/buildq.plx
misc/admin/full-backup.sh
misc/admin/incr-backup.sh
misc/admin/oraccenv-single.sh
misc/admin/oraccenv.sh
misc/admin/projlist.sh
misc/admin/projsave-all.sh
misc/admin/projsave-full.sh
misc/admin/projsave-incr.sh
misc/admin/usermode.xml
misc/admin/wwwify.sh
misc/admin/wwwperm.sh
misc/atf/atf2ascii.plx
misc/atf/atfdroppq.plx
misc/atf/atfid.plx
misc/atf/atfsignnames.plx
misc/atf/atfsplit.plx
misc/atf/atftemplate.plx
misc/atf/dist-files.plx
misc/atf/install.sh
misc/atf/mklists.plx
misc/atf/rebuild.sh
misc/bib/bibdbdump.plx
misc/bib/biblcgi.plx
misc/bib/biblcites.plx
misc/bib/biblindex.plx
misc/bib/biblquery.plx
misc/bib/biblsort.sh
misc/bib/fixnamemap.plx
misc/bib/ref2tei.sh
misc/bib/tei-merge.sh
misc/ce/ce-labels.xsl
misc/chi/chi-test-checker.plx
misc/chi/chi-test-indexer.plx
misc/chi/chi-test-loader.plx
misc/chi/chi-un-id.plx
misc/chi/chimanager.plx
misc/epsd/db-undump.plx
misc/epsd/db-undump.plx.in
misc/esp/esp-images-info.xslt
misc/esp/esp-live.sh
misc/esp/esp-phase-01.xslt
misc/esp/esp-phase-03.xslt
misc/esp/esp-phase-04.xslt
misc/esp/esp-stylesheets.xslt
misc/fxr/unfxr.plx
misc/g2plus/g2plus-index-toc.xsl
misc/gdf/gdf-entry.sh
misc/gdl/gdl-HTML.xsl
misc/l2phase1/cbdbases.plx
misc/l2phase1/l2p1-simple.plx
misc/l2phase2/g2-articles.xsl
misc/l2phase2/l2p2-g2c.plx
misc/l2phase2/l2p2-langs.plx
misc/l2phase3/g2-HTML-articles.xsl
misc/l2phase3/g2-TeX-articles.xsl
misc/l2phase3/g2-gdl-HTML.xsl
misc/l2phase3/g2-gdl-TeX.xsl
misc/l2phase3/g2-xsf-HTML.xsl
misc/l2phase3/g2-xtf-HTML.xsl
misc/log/log-HTML.xsl
misc/o2/o2.plx
misc/ol/ol.plx
misc/oss2/log
misc/oss2/oss.plx
misc/oss2/tests/badchildren.xml
misc/oss2/tests/xxx
misc/otf/odfmanager.plx
misc/otf/oracc-odtTeX.xsl
misc/p2/log
misc/p2/p2-browse.plx
misc/p2/p2-corpusview-lib.xsl
misc/p2/p2-corpusview.xsl
misc/p2/p2-pager.plx
misc/p2/p2-project-data.plx
misc/p2/p2-project.xsl
misc/p2/p2-search.plx
misc/p2/p2-sig.plx
misc/p2/p2-xmd-div.xsl
misc/p3/p3-pager.plx
misc/p3/p3-selector.plx
misc/print/cbd-chresto.xcf
misc/print/chresto-index-TeX.xsl
misc/print/chresto-index.sh
misc/ptb/ptb2html.plx
misc/se/s2-ce_trim.plx
misc/se/s2-debug.sh
misc/se/s2-pg2wrapper.plx
misc/se/s2-pipeline.sh
misc/se/unit-context.plx
misc/sl/sametlit.plx
misc/sma/sma.plx
misc/system/install-00bin.sh
misc/system/mk-wrapper.plx
misc/tei/cbd2listNym.xsl
misc/tei/cbd2listPerson.xsl
misc/tei/r2tei.xsl
misc/tei/tei-project.sh
misc/tei/teicorpus-header.xsl
misc/tei/teicorpus.xsl
misc/tei/teitexts.sh
misc/tei/xtf2tei.xsl
misc/tex/mk-oracctex.sh
misc/texts/harvest-links.plx
misc/texts/proj-linkbase.sh
misc/texts/tlit-sort.sh
misc/util/findfile.xsl
misc/web/web-PQX-html.plx
misc/www/atf.plx
misc/www/cdlhtml.plx
misc/www/cfgwview.plx
misc/www/corpusview.xsl
misc/www/cuneify.plx
misc/www/html-standard.xsl
misc/www/htmlimage.plx
misc/www/htmlview.plx
misc/www/httpd.conf
misc/www/oase.plx
misc/www/oracchtml.plx
misc/www/rpc.plx
misc/www/xmdoutline.xsl
misc/xcf/test-xcf.plx
misc/xcl/xcl2ptb.plx
misc/xcl/xcl2uxh.plx
misc/xcl/xcl2xtr.plx
misc/xcl/xclmanager.plx
misc/xdf/rnc2rng.sh
misc/xdf/xdfmanager.plx
misc/xmd/Qtab.plx
misc/xmd/catvec.plx
misc/xmd/packsortinfo.plx
misc/xmd/xmd-ids.plx
misc/xmd/xmdfields.plx
misc/xmd/xmdmanager2.plx
misc/xpd2/linkmap.plx
misc/xpd2/non-dynamic-cat-ids.plx
misc/xpd2/subconfig.xsl
misc/xst/xcl2xst.plx
misc/xst/xst2pcs.plx
misc/xtf/g2-xtf2txh.plx
misc/xtf/scoregen.plx
misc/xtf/xtf-HTML-lib.xsl
misc/xtf/xtf2rtf.plx
misc/xtf/xtf2tei.plx
oracc-hyperestraier/estcmd
oracc-hyperestraier/estconfig
oracc-hyperestraier/estseek
oracc-hyperestraier/nohup.out
oraccenv.sh
stamp-h1

c/bin/oraccnet/xmlrpc/oracc-server-environment.sh

c/bin/oraccnet/xmlrpc/oracc-server-project-unpack.sh

c/bin/oraccnet/client/oracc-client-pack-project.sh

c/bin/oraccnet/server/oracc-server.c

misc/p3/p3-project.xsl

c/bin/oraccnet/server/p3.c

c/bin/oraccnet/server/or_stable_uris.c

c/bin/oraccnet/server/or_response.c

c/bin/oraccnet/server/or_pqx.c

c/bin/oraccnet/xmlrpc/oracc-xmlrpc.c

c/bin/oraccnet/xmlrpc/oracc-xmlrpc.c

c/bin/se/sl-index.c

c/bin/se/sl-index.c

misc/p3/p3-corpusview-lib.xsl

misc/p3/p3-transonly.plx

c/bin/oraccnet/lib/m_deploy_server.c

c/bin/oraccnet/xmlrpc/oracc-deploy-server.sh

c/bin/oraccnet/xmlrpc/oracc-server-web-pack.sh

c/bin/oraccnet/xmlrpc/oracc-server-web-pack.sh

c/bin/oraccnet/server/or_common.c

c/bin/oraccnet/server/or_common.c

c/bin/oraccnet/server/or_builtins.c

c/bin/oraccnet/server/or_builtins.c
