m4/*
aclocal.m4
log
*.log
.deps
*~
*.o
*.la
*.lo
*.Po
*.Plo
Makefile
Makefile.in
.libs
*.atf
*.catf
*.xtf
*.rng
1.0/index.html
doc/builder/bilinguals/html/
doc/builder/cdli/html/
doc/builder/dates/html/
doc/builder/emacs/aquamacs/html/
doc/builder/emacs/emacsw32/html/
doc/builder/emacs/html/
doc/builder/l2/BFFs/html/
doc/builder/l2/COFs/html/
doc/builder/l2/F2/html/
doc/builder/l2/PSUs/html/
doc/builder/l2/glossaries/html/
doc/builder/l2/howitworks/html/
doc/builder/l2/howtouseit/html/
doc/builder/l2/lem/html/
doc/builder/l2/lemsyntax/html/
doc/builder/labels/html/
doc/builder/layouts/html/
doc/builder/linganno/AKK/akk-ob/html/
doc/builder/linganno/AKK/akk-roots/html/
doc/builder/linganno/AKK/akkstyle/html/
doc/builder/linganno/AKK/html/
doc/builder/linganno/ARC/html/
doc/builder/linganno/ELX/html/
doc/builder/linganno/GRC/html/
doc/builder/linganno/PEO/html/
doc/builder/linganno/QPN/html/
doc/builder/linganno/SUX/html/
doc/builder/linganno/SUX/primer/html/
doc/builder/linganno/SUX/syntax/html/
doc/builder/linganno/UGA/html/
doc/builder/linganno/html/
doc/builder/math/html/
doc/builder/metrology/html/
doc/builder/numbers/html/
doc/builder/primer/html/
doc/builder/quickref/html/
doc/builder/scores/html/
doc/builder/translation/html/
doc/developer/cuneify/html/
doc/developer/exist/example1/html/
doc/developer/exist/example2/html/
doc/developer/exist/example3/html/
doc/developer/exist/example4/html/
doc/developer/exist/example5/html/
doc/developer/exist/example6/html/
doc/developer/exist/example7/html/
doc/developer/exist/example8/html/
doc/developer/exist/html/
doc/developer/exist/install/html/
doc/developer/exist/projects/html/
doc/developer/exist/starting/html/
doc/developer/fxr/1.0/html/
doc/developer/l2/howitworks/html/
doc/developer/l2/howtouseit/html/
doc/developer/l2/html/
doc/developer/l2/langtags/html/
doc/developer/l2/lemsyntax/html/
doc/developer/nsa/html/
doc/developer/opendocument/html/
doc/developer/projweb/html/
doc/developer/psa/html/
doc/developer/tei/html/
doc/developer/uri/html/
doc/developer/versions/html/
doc/developer/xdftut/html/
doc/developer/xmlarch/html/
doc/install/basics/html/index.html
doc/install/neworacc/html/
doc/install/ports/html/
doc/install/prereqs/html/
doc/manager/filesystem/html/
doc/manager/portals/esp/html/
doc/manager/portals/espbuild/html/
doc/manager/portals/espcontent/html/
doc/manager/portals/espelements/html/
doc/manager/portals/esperrors/html/
doc/manager/portals/espimages/html/
doc/manager/portals/espsetup/html/
doc/manager/portals/html/
doc/manager/portals/projurls/html/
doc/manager/projcats/html/
doc/manager/projconfig/c2/colours/html/
doc/manager/projconfig/c2/html/
doc/manager/projconfig/c2/ol/html/
doc/manager/projconfig/c2/pll/html/
doc/manager/projconfig/c2/views/html/
doc/manager/projconfig/html/
doc/manager/projects/html/
doc/manager/projemacs/html/
doc/manager/projlife/html/
doc/manager/projunix/html/
doc/manager/proxies/html/
doc/manager/the-oracc-command/html/
doc/manager/webcolours/html/
doc/ns/cbd/1.0/html/
doc/ns/cbd/2.0/html/
doc/ns/cdf/1.0/html/
doc/ns/esp/1.0/html/
doc/ns/sl/1.0/html/
doc/ns/xcf/1.0/html/
doc/ns/xcl/1.0/html/
doc/ns/xdf/1.0/html/
doc/ns/xmd/1.0/html/
doc/ns/xpd/1.0/html/
doc/ns/xse/1.0/html/
doc/ns/xst/1.0/html/
doc/ns/xtc/1.0/html/
doc/ns/xtf/1.0/html/
doc/ns/xtr/1.0/html/
doc/user/advanced/html/
doc/user/citing/html/
doc/user/fonts/html/
doc/user/fulltextsearch/html/
doc/user/glossaries/html/
doc/user/keyboards/html/
doc/user/p2/html/
doc/user/searching/html/
doc/user/unicode/html/
doc/user/userguide/html/
autom4te.cache/
a.out.dSYM
c.log
configure
c/bin/despatcher/oracc-resolver
c/bin/lemmer/bigrams
c/bin/lemmer/lemmer
c/bin/lemmer/ngrammer
c/bin/lemmer/xis
c/bin/lemmer/xis2
c/bin/matrix/matrix
c/bin/pg/pd
c/bin/pg/pg
c/bin/pg/pg2
c/bin/pg/pgcsi
c/bin/pg/pgu
c/bin/pg/ptoqtest
c/bin/pg/showcsi
c/bin/rnv/rnv
c/bin/se/ce
c/bin/se/ce2
c/bin/se/ce_xtf
c/bin/se/masktest
c/bin/se/se
c/bin/se/secatx/secatx
c/bin/se/secbdx/secbdx
c/bin/se/sedbg
c/bin/se/selemx/selemx
c/bin/se/setrax/setrax
c/bin/se/setxtx/setxtx
c/bin/se/wm
c/bin/se/wmapper
c/bin/se/wmdebug
c/bin/sort/psdsort
c/bin/util/concord
c/bin/util/gdf
c/bin/util/haslinks
c/bin/util/haslinks1
c/bin/util/isogmt
c/bin/util/jpegsize
c/bin/util/linkfiles
c/bin/util/newext
c/bin/util/oraccopt
c/bin/util/pqunion
c/bin/util/pqxpand
c/bin/util/sigfixer
c/bin/util/sigmap
c/bin/util/signiary
c/bin/util/utf8v
c/bin/util/xalias
c/bin/util/xfrag
c/bin/util/xmlnl
c/bin/util/xmlns
c/bin/util/xmlsplit
c/otf/ox/gdlme2
c/otf/ox/ox
c/otf/ox/prj
c/otf/ox/tok
config.h
config.log
config.status
libtool
misc/admin/full-backup.sh
misc/admin/incr-backup.sh
misc/admin/projlist.sh
misc/admin/projsave-all.sh
misc/admin/projsave-full.sh
misc/admin/projsave-incr.sh
misc/atf/atf2ascii.plx
misc/atf/atfdroppq.plx
misc/atf/atfid.plx
misc/atf/atfsignnames.plx
misc/atf/atfsplit.plx
misc/atf/atftemplate.plx
misc/atf/dist-files.plx
misc/atf/install.sh
misc/atf/mklists.plx
misc/atf/rebuild.sh
misc/bib/bibdbdump.plx
misc/bib/biblcgi.plx
misc/bib/biblcites.plx
misc/bib/biblindex.plx
misc/bib/biblquery.plx
misc/bib/biblsort.sh
misc/bib/fixnamemap.plx
misc/bib/ref2tei.sh
misc/bib/tei-merge.sh
misc/ce/ce-labels.xsl
misc/fxr/unfxr.plx
misc/gdf/gdf-entry.sh
misc/gdl/gdl-HTML.xsl
misc/l2phase1/l2p1-simple.plx
misc/l2phase2/l2p2-g2c.plx
misc/l2phase2/l2p2-langs.plx
misc/l2phase3/g2-gdl-HTML.xsl
misc/l2phase3/g2-gdl-TeX.xsl
misc/l2phase3/g2-xtf-HTML.xsl
misc/log/log-HTML.xsl
misc/o2/o2.plx
misc/ol/ol.plx
misc/oss2/oss.plx
misc/p2/p2-corpusview-lib.xsl
misc/p2/p2-corpusview.xsl
misc/p2/p2-pager.plx
misc/print/cbd-chresto.xcf
misc/print/chresto-index-TeX.xsl
misc/print/chresto-index.sh
misc/se/s2-ce_trim.plx
misc/se/unit-context.plx
misc/sl/sametlit.plx
misc/sma/sma.plx
misc/system/install-00bin.sh
misc/system/mk-wrapper.plx
misc/tei/tei-project.sh
misc/tei/teitexts.sh
misc/tei/xtf2tei.xsl
misc/tex/mk-oracctex.sh
misc/texts/harvest-links.plx
misc/texts/proj-linkbase.sh
misc/texts/tlit-sort.sh
misc/util/findfile.xsl
misc/web/web-PQX-html.plx
misc/www/atf.plx
misc/www/cdlhtml.plx
misc/www/cfgwview.plx
misc/www/corpusview.xsl
misc/www/cuneify.plx
misc/www/htmlimage.plx
misc/www/htmlview.plx
misc/www/oase.plx
misc/www/oracchtml.plx
misc/www/rpc.plx
misc/xcf/test-xcf.plx
misc/xcl/xcl2ptb.plx
misc/xcl/xcl2uxh.plx
misc/xcl/xcl2xtr.plx
misc/xcl/xclmanager.plx
misc/xdf/rnc2rng.sh
misc/xdf/xdfmanager.plx
misc/xmd/Qtab.plx
misc/xmd/catvec.plx
misc/xmd/packsortinfo.plx
misc/xmd/xmd-ids.plx
misc/xmd/xmdfields.plx
misc/xmd/xmdmanager2.plx
misc/xpd2/linkmap.plx
misc/xpd2/non-dynamic-cat-ids.plx
misc/xpd2/subconfig.xsl
misc/xst/xcl2xst.plx
misc/xst/xst2pcs.plx
misc/xtf/g2-xtf2txh.plx
misc/xtf/scoregen.plx
misc/xtf/xtf-HTML-lib.xsl
misc/xtf/xtf2rtf.plx
misc/xtf/xtf2tei.plx
oracc-hyperestraier/estcmd
oracc-hyperestraier/estconfig
oracc-hyperestraier/estseek
stamp-h1

*.m4

aclocal.m4

aclocal.m4

c/lib/collate/mktablst

c/lib/collate/mktablst

c/lib/collate/seq2c

c/lib/collate/seq2c

configure

configure

doc/install/basics/html/index.html

doc/install/neworacc/html/index.html

*.html

*.html

doc/install/ports/html/index.html

doc/install/prereqs/html/index.html

doc/install/prereqs/html/index.html

doc/ns/gdl/1.0/html/gdltut.html

doc/ns/gdl/1.0/html/gdltut.html

doc/ns/gdl/1.0/html/index.html

doc/ns/gdl/1.0/html/index.html

m4/lt~obsolete.m4

m4/libtool.m4

ltmain.sh

ltmain.sh

m4/ltoptions.m4

m4/ltoptions.m4

m4/ltversion.m4

m4/ltversion.m4

doc/ood/gdf/html/index.html

doc/ood/html/index.html

doc/ood/html/index.html

doc/ood/resources/html/index.html

doc/ood/resources/html/index.html

doc/ood/uri-examples/html/index.html

doc/ood/uri-examples/html/index.html

doc/ood/uri-patterns/html/index.html

doc/ood/uri-text/html/index.html

doc/ood/uri-text/html/index.html

doc/ood/uris/html/index.html

doc/ood/uris/html/index.html

doc/ood/urns/html/index.html

doc/ood/urns/html/index.html

c/bin/despatcher/.#Makefile.am

c/bin/despatcher/#Makefile.am#

c/bin/despatcher/oraccpager-debug.log

*.log

*.log

c/bin/despatcher/tests/PQX-pager.log

c/bin/se/setxtx/log

c/bin/tests/words/wordtest

c/l2/nsa/nsatest

c/l2/x/sux.xml

c/l2/x/to-lem.xcl

c/l2/x/y.xcl

c/l2/x/z.xml

c/lib/rnv/rnv

*.out

c/nohup.out

c/otf/ox/log

c/otf/ox/x

doc/builder/metrology/log

doc/manager/portals/espcontent/rnc2rng.log

doc/manager/portals/espelements/rnc2rng.log

doc/manager/portals/espsetup/rnc2rng.log

doc/manager/portals/rnc2rng.log

doc/ns/nohup.out

misc/oss2/log

misc/oss2/tests/badchildren.xml

misc/oss2/tests/xxx

misc/p2/log

oracc-hyperestraier/nohup.out

doc/ns/*/*/html/*

doc/builder/index00.xml

doc/builder/index.xml

doc/developer/index.xml

doc/manager/index.xml

doc/ns/index.xml

doc/user/index.xml

c/bin/lemmer/.gdbinit

c/bin/pg/xisperiods
