html {
    font-size: 0.9em;
}

body {
    width: 100%;
    margin: 0;
    padding: 0.2em 0 1em 0;
    font-size: 1em;
    font-family: Ungkam,"Times New Roman",Times,serif;
    line-height: 1.6em;
    color: #333;
    background: #fff;
}

code {
    font-family: "Courier New",Courier,mono;
    font-size: 1.2em 
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol ol ol {
    list-style-type: upper-alpha;
}

pre.listing {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    background-color: #f5f5dc;
    color: black;
}

pre.example {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    background-color: #eee;
    color: black;
}

pre.cookbook {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    background-color: #daf3e0;
    color: black;
}

td.cookbook {
    background-color: #daf3e0;
    color: black;
    vertical-align: middle;
}

.cookbook {
    background-color: #daf3e0;
    color: black;
}

.example {
    background-color: #eee;
    color: black;
}

p.firstpara {
    font-weight: bold;
}

p {
    margin: 0 0 1.3em;
}

blockquote {
    margin: 0 2em 1.3em;
    font-size: 0.9em;
}

input {
    font-size: inherit;
}

div.imagefloat {
    margin: 0 0 0.5em 1em;
    float: right;
    clear: right;
    page-break-inside: avoid;
}

div.imageinline {
    margin: 1em 0;
    page-break-inside: avoid;
}

div.imageinline img, div.imagefloat img {
    display: block;
    /* This width:100% is the offender which makes all images 100% instead of respecting the grid class */
    /*width:100%;*/
    margin: 0;
    padding: 0;
    max-width:100%;
}

/* Styling for prettier tables. RH 9.7.2009 */
table.pretty {
    margin: 2em 2em 2em 3em;
    background: #f5f5f5;
    border-collapse: collapse;
}

table.pretty th, table.pretty td {
    border: 1px #c0c0c0 solid;
    padding: 0.2em;
}

table.pretty th {
    background: #dcdcdc;
    text-align: left;
}

table.pretty caption {
    margin-left: inherit;
    margin-right: inherit;
}

img {
    border-width: 0;
}

form {
    margin: 0;
}

div.imagecaption {
    margin: 0.5em 0 1.25em;
    font-size: 0.9em;
    line-height: normal;
}

.imagecaption p {
    width: 95%;
}

h1 {
    margin: 1.5em 0 1.3em;
    font-size: 1.4em;
    line-height: 1.3em;
}

h2 {
    margin: 1.5em 0 1.3em;
    font-size: 1.2em;
    line-height: 1.2em;
}

h3 {
    margin: 1.5em 0 1.3em;
    font-size: 1.1em;
    line-height: 1.2em;
}

li h2, li h3 {
    margin-top: 0;
}

span.externallinktext {
    display: none;
}

span.glossarylink, span.techtermslink, span.indexlink, span.textsizelink, span.switcherlink {
    border: 1px solid #edda74;
    color: #333;
    background: #fff;
}

span.glossarylink a, span.techtermslink a, span.indexlink a, span.textsizelink a, span.switcherlink a {
    text-decoration: none;
}

span.glossarylink, span.techtermslink, span.indexlink {
    margin-left: 0.3em;
    font-size: 0.7em;
    vertical-align: top;
}

span.glossaryterm, span.techterms, span.indexterm {
    border-bottom: 1px solid #edda74;
}

.highlighted {
    background: red;
}

a:link {
    color: #800;
    background-color: transparent;
}

a:visited {
    color: #800;
    background-color: transparent;
}

a:link:hover, a:visited:hover {
    color: #fff;
    background: #800;
}

#Banner {
    width: 100%;
    text-align: center;
}

/* @media block for small viewports (max 624px) */
@media screen and (max-width: 624px) {
.pc30 {
    width: 100%;
}
/* remove LH indent for lists */
ul, ol {
    margin-left: 5%;
    padding-left: 0;
}
#Breadcrumb {
    display: none;
}
#Content {
    margin: 1em 5% 0 5%;
    width: 90%;
}
#Banner {
    text-align: center;
}
#Header {
    padding: 0.5em 4%;
    background: #003399;
    margin: 0.3em 0 0;
    height: 3.5em;
    border-bottom: 0.5em solid #ffcc00;
}
#HeadTitle {
    font-size: 1.2em;
    color: #ffffff;
}
#HeadTitle a:link, #HeadTitle a:visited {
    color: #ffffff;
    background: #003399;
    text-decoration: none;
}
#HeadSubtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
    color: #ffffff;
}
#Menu {
    width: 95%;
    margin: 0.1px 0 0.1px 0;
    padding: 0;
    background: #ffffff;
}
#MenuCaption {
    margin-left: 5%;
    margin-bottom: 0.5em;
    padding-left: 0;
    font-size: 0.9em;
    font-weight: bold;
    width: 95%;
    border-bottom: 2px solid #ffcc00;
}
#Menu a {
    text-decoration: none;
}
#Menu ul {
    padding: 0;
    margin: 0;
}
#Menu ul ul {
    padding: 0.25em 0 0 4em;
    margin-bottom: 0.25em;
    border: 1px solid #ffcc00;
    border-top: 0;
}
#Menu ul ul ul {
    border-right: 0;
    padding: 0.25em 0 0 1em;
}
#Menu li {
    padding: 0;
    margin: 0;
    list-style-image: url(/img/blank.gif);
/* IE Win does weird stuff with list-style-type: none */
}
#Menu li.only {
    font-weight: normal;
}
#Menu ul a, ul #SelfInMenu {
    display: block;
    padding: 0.35em 1em 0.35em 5%;
    line-height: normal;
}
#Menu ul ul a, ul ul #SelfInMenu {
    padding: 0.35em 1em 0.35em 5%;
}
#Menu a.open:hover, #Menu a.closed:hover {
    color: blue;
    background-color: red;
}
#Menu a.open {
    background: #ffd;
}
#SelfInMenu {
    font-weight: bold;
}
#SelfInMenu.open {
    background-color: #ffd;
}
#AccessLinks {
    display: none;
}
#ReferenceLinks {
    display: none;
}
#BackToTop {
    text-align: right;
    margin: 0 5%;
}
#EndContentSpace {
    clear: both;
    height: 1em;
}
#FooterWhole {
    border-bottom: solid 1px #003399;
    margin: 0 5% 0.2em 5%;
    clear: both;
    height: 1em;
}
#FooterLeft {
    padding: 0 1em 0 5%;
}
#FooterRight {
    float: right;
    padding: 0 6em 0 5%;
}
}
/* @media block for larger viewport sizes (625px and above)*/
@media screen and (min-width: 625px) {

.pc05 {
    width: 05%;
}
.pc10 {
    width: 10%;
}
.pc15 {
    width: 15%;
}
.pc20 {
    width: 20%;
}
.pc25 {
    width: 25%;
}
.pc30 {
    width: 30%;
}
.pc35 {
    width: 35%;
}
.pc40 {
    width: 40%;
}
.pc45 {
    width: 45%;
}
.pc50 {
    width: 50%;
}
.pc55 {
    width: 65%;
}
.pc60 {
    width: 70%;
}
.pc65 {
    width: 65%;
}
.pc70 {
    width: 70%;
}
.pc75 {
    width: 75%;
}
.pc80 {
    width: 80%;
}
.pc85 {
    width: 85%;
}
.pc90 {
    width: 90%;
}
.pc95 {
    width: 95%;
}
.pc100 {
    width: 100%;
}

ul.biblio {
    list-style: none;
    margin-left: 5%;
    padding-left: 0;
}
ul.biblio li {
    margin-bottom: 1em;
}
#Content {
    margin: 1em 3% 0 22%;
    width: 74%;
}
#Header {
    padding: 0.5em 4%;
    background: #003399;
    margin: 0.3em 0 0;
    height: 2.75em;
    border-bottom: 0.5em solid #ffcc00;
}
#HeadTitle {
    font-size: 1.6em;
    color: #ffffff;
}
#HeadTitle a:link, #HeadTitle a:visited {
    color: #ffffff;
    background: #003399;
    text-decoration: none;
}
#HeadSubtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
    color: #ffffff;
}
#Menu {
    float: left;
    width: 20%;
    margin: 0.1px 0 0.1px 0;
    padding: 0;
    background: #ffffff;
}
#MenuCaption {
    margin-left: 3em;
    margin-bottom: 0.5em;
    padding-left: 0;
    font-size: 0.9em;
    font-weight: bold;
    width: 70%;
    border-bottom: 2px solid #ffcc00;
}
#Menu a {
    text-decoration: none;
}
#Menu ul {
    padding: 0;
    margin: 0;
}
#Menu ul ul {
    padding: 0.25em 0 0 4em;
    margin-bottom: 0.25em;
    border: 1px solid #ffcc00;
    border-top: 0;
}
#Menu ul ul ul {
    border-right: 0;
    padding: 0.25em 0 0 1em;
}
#Menu li {
    padding: 0;
    margin: 0;
    list-style-image: url(/img/blank.gif);
/* IE Win does weird stuff with list-style-type: none */
}
#Menu li.only {
    font-weight: normal;
}
#Menu ul a, ul #SelfInMenu {
    display: block;
    padding: 0.35em 1em 0.35em 3em;
    line-height: normal;
}
#Menu ul ul a, ul ul #SelfInMenu {
    padding: 0.35em 1em 0.35em 1em;
}
#Menu a.open:hover, #Menu a.closed:hover {
    color: blue;
    background-color: red;
}
#Menu a.open {
    background-color: #ffd;
}
#SelfInMenu {
    font-weight: bold;
}
#SelfInMenu.open {
    background-color: #ffd;
}
#AccessLinks {
    padding: 0 1em 0 4%;
    float: left;
}
#ReferenceLinks {
    padding: 0 4%;
    text-align: right;
}
#BackToTop {
    text-align: right;
    margin: 0 4%;
}
#EndContentSpace {
    clear: both;
    height: 1em;
}
#FooterWhole {
    border-bottom: solid 1px #003399;
    margin: 0 0 0.2em;
    clear: both;
    height: 1em;
}
#FooterLeft {
    padding: 0 4%;
}
#FooterRight {
    float: right;
    padding: 0 4%;
}

}

#Search {
    float: right;
    padding: 0.5em 6em 0.5em 1em;
    margin: 0.3em 0 0 -3px;
    height: 2.75em;
    border-bottom: 0.5em solid #ffcc00;
}

#Search label {
    font-weight: bold;
    color: #ffffff;
}

#StyleSheetWarning {
    display: none;
}

#SiteMap a {
    text-decoration: none;
}

#SiteMap ul {
    margin: 0;
    padding-left: 2em;
    list-style: none;
}

#SiteMap > ul {
    padding-left: 0;
}

#SiteMap h2 {
    margin: 0.3em 0;
}

#SiteMap h3 {
    margin: 0.2em 0;
}

#SiteMap div {
    margin: 0.1em 0;
}

#AccessKeys {
    border: 0;
    margin: 0 1em;
    padding: 0;
}

#AccessKeys th, #AccessKeys td {
    padding: 0 1em;
    text-align: left;
}

#AccessKeys th {
    border-bottom: solid 2px #333333;
}

#AccessKeys tr.odd {
    background: #eeeeee;
}

#Index h2, #Glossary h2, #Techterms h2 {
    float: left;
    margin: 0;
    color: #ccc;
}

#Vocablist h2 {
    margin: 0;
    line-height: 1.3em;
    color: #333333;
}

#Vocablist h2.empty {
    margin: 0 0 2.5em;
    line-height: 1.3em;
    color: #ccc;
}

#Index h3, #Glossary dl, #Techterms dl {
    margin: 0 0 0 3em;
}

#Index ul, #Vocablist ul {
    list-style-type: none;
    margin: 0 0 1em 4em;
    padding: 0;
}

#Glossary dt {
    font-weight: bold;
}

#Techterms dt {
    font-weight: bold;
}

#Authors {
    clear: both;
    border-top: dotted 1px #003399;
    margin: 2.5em 0 0;
    padding: 1em 0 0;
    font-style: italic;
    font-size: 0.9em;
}

#CiteAs {
    font-size: 0.9em;
}

#Alphabet {
    margin: 0 0 1em;
    color: #ccc;
}

#Alphabet a {
    text-decoration: none;
}

#URL {
    display: none;
}
