.ood-record h1 { text-align: center; }

.ood-record table { width: 100%; }

td.ood-field { width: 30%; text-align: right; padding-right: 1em; font-size: -1; font-weight: bold; }

td.ood-value { text-align: left;  }
