<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.unicode</string>
	<key>CFBundleName</key>
	<string>Unsaved Ukelele Document</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Afghan Dari</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.afghandari</string>
		<key>TISIntendedLanguage</key>
		<string>prs</string>
	</dict>
	<key>KLInfo_Afghan Pashto</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.afghanpashto</string>
		<key>TISIntendedLanguage</key>
		<string>ps</string>
	</dict>
	<key>KLInfo_Afghan Uzbek</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.afghanuzbek</string>
		<key>TISIntendedLanguage</key>
		<string>uz</string>
	</dict>
	<key>KLInfo_Arabic</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.arabic</string>
		<key>TISIntendedLanguage</key>
		<string>ar</string>
	</dict>
	<key>KLInfo_Arabic-QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.arabic-qwerty</string>
		<key>TISIntendedLanguage</key>
		<string>ar</string>
	</dict>
	<key>KLInfo_Armenian-HM QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.armenian-hmqwerty</string>
		<key>TISIntendedLanguage</key>
		<string>hy</string>
	</dict>
	<key>KLInfo_Armenian-Western QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.armenian-westernqwerty</string>
		<key>TISIntendedLanguage</key>
		<string>hy</string>
	</dict>
	<key>KLInfo_Azeri</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.azeri</string>
		<key>TISIntendedLanguage</key>
		<string>az</string>
	</dict>
	<key>KLInfo_Cherokee-Nation</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.cherokee-nation</string>
		<key>TISIntendedLanguage</key>
		<string>chr</string>
	</dict>
	<key>KLInfo_Cherokee-QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.cherokee-qwerty</string>
		<key>TISIntendedLanguage</key>
		<string>chr</string>
	</dict>
	<key>KLInfo_Croatian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.croatian</string>
		<key>TISIntendedLanguage</key>
		<string>hr</string>
	</dict>
	<key>KLInfo_Faroese</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.faroese</string>
		<key>TISIntendedLanguage</key>
		<string>fo</string>
	</dict>
	<key>KLInfo_Finnish Extended</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.finnishextended</string>
		<key>TISIntendedLanguage</key>
		<string>fi</string>
	</dict>
	<key>KLInfo_Greek</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.greek</string>
		<key>TISIntendedLanguage</key>
		<string>el</string>
	</dict>
	<key>KLInfo_Greek Polytonic</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.greekpolytonic</string>
		<key>TISIntendedLanguage</key>
		<string>el</string>
	</dict>
	<key>KLInfo_Gujarati</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.gujarati</string>
		<key>TISIntendedLanguage</key>
		<string>gu</string>
	</dict>
	<key>KLInfo_Gujarati-QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.gujarati-qwerty</string>
		<key>TISIntendedLanguage</key>
		<string>gu</string>
	</dict>
	<key>KLInfo_Hawaiian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.hawaiian</string>
		<key>TISIntendedLanguage</key>
		<string>haw</string>
	</dict>
	<key>KLInfo_Hebrew</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.hebrew</string>
		<key>TISIntendedLanguage</key>
		<string>he</string>
	</dict>
	<key>KLInfo_Hebrew-QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.hebrew-qwerty</string>
		<key>TISIntendedLanguage</key>
		<string>he</string>
	</dict>
	<key>KLInfo_Icelandic</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.icelandic</string>
		<key>TISIntendedLanguage</key>
		<string>is</string>
	</dict>
	<key>KLInfo_Inuktitut-Nunavut</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.inuktitut-nunavut</string>
		<key>TISIntendedLanguage</key>
		<string>iu</string>
	</dict>
	<key>KLInfo_Inuktitut-Nutaaq</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.inuktitut-nutaaq</string>
		<key>TISIntendedLanguage</key>
		<string>iu</string>
	</dict>
	<key>KLInfo_Inuktitut-QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.inuktitut-qwerty</string>
		<key>TISIntendedLanguage</key>
		<string>iu</string>
	</dict>
	<key>KLInfo_Inuttitut Nunavik</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.inuttitutnunavik</string>
		<key>TISIntendedLanguage</key>
		<string>iu</string>
	</dict>
	<key>KLInfo_Irish Extended</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.irishextended</string>
		<key>TISIntendedLanguage</key>
		<string>ga</string>
	</dict>
	<key>KLInfo_Maori</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.maori</string>
		<key>TISIntendedLanguage</key>
		<string>mi</string>
	</dict>
	<key>KLInfo_Nepali</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.nepali</string>
		<key>TISIntendedLanguage</key>
		<string>ne</string>
	</dict>
	<key>KLInfo_Northern Sami</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.northernsami</string>
		<key>TISIntendedLanguage</key>
		<string>se</string>
	</dict>
	<key>KLInfo_Norwegian Extended</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.norwegianextended</string>
		<key>TISIntendedLanguage</key>
		<string>no</string>
	</dict>
	<key>KLInfo_Persian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.persian</string>
		<key>TISIntendedLanguage</key>
		<string>fa</string>
	</dict>
	<key>KLInfo_Persian-ISIRI 2901</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.persian-isiri2901</string>
		<key>TISIntendedLanguage</key>
		<string>fa</string>
	</dict>
	<key>KLInfo_Romanian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.romanian</string>
		<key>TISIntendedLanguage</key>
		<string>ro</string>
	</dict>
	<key>KLInfo_Serbian-Latin</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.serbian-latin</string>
		<key>TISIntendedLanguage</key>
		<string>sr</string>
	</dict>
	<key>KLInfo_Slovenian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.slovenian</string>
		<key>TISIntendedLanguage</key>
		<string>sl</string>
	</dict>
	<key>KLInfo_Thai</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.thai</string>
		<key>TISIntendedLanguage</key>
		<string>th</string>
	</dict>
	<key>KLInfo_Thai-PattaChote</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.thai-pattachote</string>
		<key>TISIntendedLanguage</key>
		<string>th</string>
	</dict>
	<key>KLInfo_Turkish</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.turkish</string>
		<key>TISIntendedLanguage</key>
		<string>tr</string>
	</dict>
	<key>KLInfo_Turkish-QWERTY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.turkish-qwerty</string>
		<key>TISIntendedLanguage</key>
		<string>tr</string>
	</dict>
	<key>KLInfo_Turkish-QWERTY-PC</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.turkish-qwerty-pc</string>
		<key>TISIntendedLanguage</key>
		<string>tr</string>
	</dict>
	<key>KLInfo_US Extended</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.usextended</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Vietnamese</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.vietnamese</string>
		<key>TISIntendedLanguage</key>
		<string>vi</string>
	</dict>
	<key>KLInfo_Welsh</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unicode.welsh</string>
		<key>TISIntendedLanguage</key>
		<string>cy</string>
	</dict>
</dict>
</plist>
