<css>
@import url(oraccscreen.css);
@import url(p3.css);
@import url(p3cbd.css);

@namespace xf url("http://www.w3.org/2002/xforms");

.main-repeat, .submits { width: 80%; margin: auto; padding-top: 1em; }

hr { width: 80%; margin: auto; margin-top: 1em; }

.searchtoks { width: 80%; margin: auto; background-color: silver; font-family: courier; margin-bottom: 10px; font-size: 90%; }

.scope .xforms-value { width: 2em; margin-right: .5em; text-align: center; }
.insert button { width: 3em; text-align: center; padding: 0px; margin: 0px; color: blue; }
.remove button { width: 3em; text-align: center; padding: 0px; margin: 0px; color: blue; }
.remove-search button { width: auto; text-align: center; padding: 0px; margin: 0px; color: blue; }

tr { vertical-align: top; }
td { border-bottom: 1px; }

</css>