@import url(oraccscreen.css);
@import url(p3cbd.css);

body, p { margin: 0px; padding: 0px; }

#p3controls { height: 90px; margin: 0px; padding: 0px; 
	    }

#p3topButtons { height: 22px; }
#p3topButtons p { text-align: center; margin: 0px; padding: 0px; }
#p3topButtons .button { display: inline; }
#p3topButtons .spacer { padding-right: .5rem; }

#p3srch { height: 45px; }
#p3srch p { padding-top: 12px; padding-bottom: 12px; 
	    margin: 0px;
	  }

#p3navLeft    	{ height: 23px;
		  padding: 0px; margin: 0px;
		  width: 20%;  padding: 0px;
		  position: absolute; left: 0px;
		  z-index: 2;
		}

#p3navRight   	{ height: 23px;
		  width: 80%;  padding: 0px; 
		  position: absolute; left: 20%; /* top: 40px; */
		  z-index: 2;
		}

#p3OSdefault { display: inline; }
#p3OSspecial { display: none; }

#p3items { display: none; }
#p3pages { display: block; margin-top: -2px; }

#p3zoom   { display: none; }
#p3cetype { display: none; }

#p3left   { height: 600px; overflow: auto; 
	    clear: both;
    	    width: 20%;  padding: 0px; 
	    position: absolute; left: 0px;
	    z-index: 1;
	  }
#p3right  { height: 600px; overflow: auto;
	  }

#p3banner h1 { font-size: 25pt; }

#p3botbanner { width: 100%; line-height: 24px; height: 24px; position: absolute; left: 0px; }
#p3botbanner h1 { font-size: 14pt; text-align: center; margin: 0px; padding: 0px; }

#p3CbdLang { display: none; }

p.p3toccenter 	{ font-size: medium; font-weight: normal; text-align: center;
		  margin: 0px;
		}

.p3right80	{ clear: both;
    		  width: 80%;  padding: 0px; 
		  position: absolute; left: 20%; /* top: 40px; */
		  z-index: 1;
		}

.p3right100	{ clear: both;
    		  width: 100%;  padding: 0px; 
		  position: absolute; left: 0; /* top: 40px; */
		}

div.pgotl { font-family: arial,sans-serif; padding: 0px; 
	    padding-left: 5px; padding-top: 5px; padding-bottom: 5px; }

.pgotl p   { padding: 0px; margin: 0px; margin-left: 10px; 
	     margin-bottom: 1px; margin-top: 1px; font-size: 80%; 
	   }

.pgotl h1 { padding: 0px; margin: 0px; font-size: 80%; }
.pgotl h2 { padding: 0px; margin: 0px; font-size: 80%; }
.pgotl h3 { padding: 0px; margin: 0px; font-size: 80%; }
.pgotl h4 { padding: 0px; margin: 0px; font-size: 80%; }

.h2	{ padding-top: 2px; padding-bottom: 2px; }

div.level0  { margin-left: 0px;
	      padding-left: 5px; padding-top: 5px; 
	      padding-bottom: 5px; }
div.level1  { margin-left: 5px; padding: 0px; }
div.level2  { margin-left: 10px; padding: 0px; }
div.level3  { margin-left: 15px; padding: 0px; }

.level1 p   { margin-left: 15px; text-indent: -10px; }

a         { text-decoration: none; }
a:link[href]    { color: blue; }
a:visited { color: #939; }
a img     { border: 0px; }
a[href]:hover   { color: white; background-color: red; text-decoration: underline; }
a[onclick]:hover   { color: white; background-color: red; }

.center 	{ text-align: center; }
.smash		{ line-height: 0px; height: 20px;
		  margin-top: 0px; margin-bottom: 0px; 
		  padding-top: 0px; padding-bottom: 0px; 
		}

sub { font-style: normal; }
.sux { font-style: normal; }
.akk { font-style: italic; }
.arc { font-style: italic; }

.zoomed { background-color: silver; }
.selected { background-color: silver; }

.ce-heading { padding: 0px; margin: 0px; margin-left: 2px; font-size: 80%; line-height: 90%; 
	      font-family: arial, sans-serif; margin-bottom: 2px;
	    }
.ce-label  { text-align: right; padding-top: 0px; margin-top: 0px; }
.ce-result { text-align: left;  padding-bottom: 0px; margin-bottom: 0px;
	   padding-left: 2px; padding-right: 2px; }

table.kwic { width: 100%; }

/* Glossary styling */
p.toc-entry { margin: 0px; padding: 0px; padding-bottom: 4px; text-align: center; }
p.summary { margin-left: 1em; text-indent: -1em; }
.cf { font-size: 100%; }
.gw { font-size: 80%; }
.pos { font-size: 90%; }
.phon { font-size: 90%; font-family: serif; padding-left: 2em }

.p3h2     { font-size: 100%; padding-top: 0px; margin-top: 0px; margin-left: 1px; }

h1.toc { font-size: 10pt; text-align: center; }

#unicode { margin: 0px; padding: 0px; }

.notelink,.marker { font-size: 9pt; vertical-align: super; padding-left: .1em; padding-right: .1em; background-color: black; color: white; }
.notemark { font-size: 9pt; vertical-align: super; padding-left: .1em; padding-right: .1em; color: black; }

.notex {
    text-align: right;
    font-size: 90%;
    padding: 0px; margin: 0px;
}
.note {
  position: fixed;
  width: 180px;
  top: 0;
  left: 0;
  background: #f8f8f8;
  color: #000;
  border: 2px inset #8e8e8e;
  border-radius: 10px;
  visibility: hidden;
  font-size: 10pt;
  font-weight: normal; 
  font-family: "Ungkam Basic",Serif;
  text-align: left;
  padding: 3px; margin: 0px;
  box-shadow: 4px 4px 2px #8f8f8f;
  line-height: 1.1rem;
}

table.xmd { border-spacing: 0px; padding: 2px; }
table.xmd td { padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
.oddeven tr:nth-child(odd) { background-color: #ddd; }
td.ce-ood-id { width: 10%; }
td.ce-xmd-icon { width: 26px; vertical-align: middle; }

/*    
  overflow: scroll;

*/
