td.h2 { padding-top: 2px; padding-bottom: 2px; }

div.tocmatrix-border { height: 100%; border-left: 0px; border-style: solid; 
	border-right: 1px; border-top: 0px; border-bottom: 0px; }

p.chunktitle { font-size: large; font-weight: bold; text-align: center; }
h1.cbd { font-size: medium; }
/* h1.pslres { font-size: large; color: red; font-family: serif } */
span.cf { font-size: 100%; }
span.gw { font-size: 80%; }
span.pos { font-size: 90%; }
span.phon { font-size: 90%; font-family: serif; padding-left: 2em }
span.selected { background-color: silver }

div.summary { width: 90%; margin: auto; margin-bottom: 5px; padding-bottom: 10px;
	    border-bottom: 6px solid #cfc; }

p.summary { margin-left: 1.1em; text-indent: -1em; 
	    margin-top: 3px; margin-bottom: 5px;
	  }

p.norms    { width: 90%; margin: auto; }

div.morphology { width: 90%; margin: auto; }
div.equivs     { width: 90%; margin: auto; }
/* div.bib        { width: 90%; margin: auto; } */

div.props      { width: 90%; margin: auto; }

.morphology p { margin-left: 1em; }

div.forms { width: 90%; margin-left: 1em; }
div.morphs { width: 90%; margin-left: 1em; margin-top: .5em; }
div.senses { width: 90%; margin-left: 1em; }

span.ih2 { font-size: 110%; font-style: italic; padding-right: 1em; }

span.ih3 { font-weight: bold; padding-right: 1em; }

span.sux { font-family: arial, sans-serif; }

p.cpd { font-size: smaller; margin-left: 40px; text-indent: -35px }

p.xcpd { font-size: smaller; margin-left: 1.9em; text-indent: -1.7em }

div.orth { margin-top: 10px; margin-left: 0px; }
p.orth { margin-left: 0px; }
img.orth { padding-right: 5pt; vertical-align: middle }
div.orth table { width: 90%; margin: auto; border-collapse: collapse; }
tr.orth    { vertical-align: baseline; }
td.orth { vertical-align: baseline; padding-right: 5px;
	border-top: 1px; border-bottom: 1px; width: 47%;
	padding-top: 2px; padding-bottom: 2px;
	border-left: 0px; border-right: 0px; border-style: dotted;
	border-color: silver; }
tr.orth td img { vertical-align: middle }

td.orthindex { text-align: left; padding: 0px; padding-right: 1em; 
	  font-size: 90%; font-family: sans-serif; width: 6%; 
	  border-top: 1px dotted silver; 
	  border-bottom: 1px dotted silver; 
	  }

tr.cont td { padding-top: 5px; }

p.cont { width: 90%; margin: auto; margin-top: 7px; }

span.conth { font-weight: bold; font-size: 90%; }

table.oview { border-collapse: collapse; 
	    margin-left: auto; margin-right: auto; }

.oview caption { text-align: left; font-size: 90%; font-weight: bold;
       width: 90%; margin: auto; }

td.ovfreq { text-align: right; padding: 3px; padding-right: 1em; 
	  font-size: 90%; font-family: sans-serif; width: 12%;
     	  border: 1px solid black; border-bottom: 1px solid silver; }

td.ovindex { text-align: left; padding: 0px; padding-right: 1em; 
	  font-size: 90%; font-family: sans-serif; width: 6%;
     	  border: 0px; border-bottom: 1px solid silver; }

th.ovcorner { background-color: white; border-top: 0px; 
	    border-bottom: 1px solid silver }

th.ovyear { text-align: left; border: 1px solid black; 
	  background-color: #fed; font-family: sans-serif; 
	  font-size: 90%; padding: 2px; }

tr.tlit    { vertical-align: baseline }
tr.tlit td { vertical-align: baseline }

tr.tscr    { vertical-align: baseline }
tr.tscr td { vertical-align: baseline }

table.multicol { width: 100%; margin: auto; border-collapse: collapse }
table.multicol tr td { padding-left: 5px; padding-right: 3px; 
	padding-top: 1px; padding-bottom: 1px }
td.gutter { border-right: 1px solid black; }

table.ruled { margin: auto; border-collapse: collapse; 
  	border: 1px solid black }
td.rule-dark { border-bottom: 1px solid black; }
td.rule-fine { border-bottom: 1px solid silver; }
td.rule-none { border-bottom: 0px; }
table.ruled td { padding: 5px; border-left: 1px solid black }

span.akk { font-style: italic; }
sup.akk  { font-style: italic; }

span.osigns { font-size: 80%; font-weight: bold; }
span.mean { font-size: 95% }
div.glosses p { margin-left: 10pt; text-indent: -10pt; }
hr.article { width: 100%; margin-left: 0px; margin-right: 0px }
hr.instances { width: 200px; margin-left: 0px }
span.what { font-size: 100%; font-weight: bold; padding-right: 10pt; }

a.epsdissl  { color: blue !important; text-decoration: none; }
a.epsdprime { color: fuchsia !important; text-decoration: none; }

p.ref        { font-size: 90%; margin-left: 3em; margin-bottom: 2pt; 
	margin-top: 2pt; text-indent: -10pt; }
span.refyear { font-size: 90%; }

p.ix { text-indent: -35px; margin-left: 40px }

span.ixcf { margin-left: -20px }
/* N.B.: Do not remove 'arial'!!! MSWin needs it to get unicode display right
 */
span.wr { font-family: arial,sans-serif; font-size: 90% }

h1.tocmatrix { font-family: arial,sans-serif; font-size: 80%; 
	font-weight: bold; text-align: center;
	color: red; margin: 0px; padding: 0px; 
	margin-top:5px; margin-bottom: 5px; line-height: 1em;
	border: 0px; border-bottom: 1px; border-style: dotted; }

table.tocmatrix { width: 90%; 
	font-family: arial,sans-serif; font-size: 90%; font-weight: bold; 
 	line-height: 85%; text-align: center; padding: 0pt; margin: 0pt }

table.tocmatrix tr { padding: 0pt; margin: 0pt; }

td.toces { padding: 0pt; margin: 0pt; text-align: left; width: 100% }
table.tocmatrix tr td.toces { 
	padding-left: 5pt; padding-bottom: 1pt; padding-top: 1pt; margin: 0pt;
	text-align: left; vertical-align: middle; font-size: 90% }
table.tocmatrix tr td { 
	padding: 0pt; padding-bottom: 1pt; 
	padding-top: 1pt; margin: 0pt;
	text-align: center; vertical-align: middle }
td { padding: 0pt; margin: 0pt; }

span.present { padding-left: 3px; padding-right: 3px }
span.lpresent { padding-left: 0px; padding-right: 0px; font-size: 90% }
span.labsent { padding-left: 0px; padding-right: 0px; font-size: 90% }

p.norms	     { width: 90%; margin-left: auto; margin-right: auto; }

p.sense      { padding: 0pt; margin: 0pt; }

div.senseToc { margin-left: 10pt; margin-top: 10pt }

h1.instances { font-size: medium; font-family: serif; margin-bottom: 0pt; margin-top: 5pt }

h2.instances { font-size: medium; font-family: serif; font-weight: normal; 
		font-style: italic; margin-bottom: 0pt; margin-top: 5pt }

div.ns-glo-top { }
.ns-glo-sec div { margin-left: 0em; }
.ns-glo-sec h1 { font-size: medium; margin-left: 1em; }
.ns-glo-sec h2 { font-size: medium; margin-left: 2em; }
p.ns-glo-sub  { margin-left: -9em; text-indent: 10em; margin-bottom: .3333em; }

h3.sense { font-size: medium; }

h3.instances { font-size: medium; font-family: serif; font-weight: bold; 
		font-style: normal; margin-bottom: 0pt; 
	 	margin-top: 3pt }

h4.instances { font-size: medium; font-family: serif; font-weight: bold; 
		font-style: normal; margin-bottom: 0pt; 
	 	margin-top: 3pt }

p.instances  { margin-top: 3pt; margin-left:  5pt }
p.xref       { margin-top: 2pt; margin-left:  5pt }
div.g1  { margin-top: 3pt; margin-left:  0pt }
div.g2  { margin-top: 3pt; margin-left:  5pt }
div.g3  { margin-top: 3pt; margin-left: 10pt }
div.g4  { margin-top: 3pt; margin-left: 15pt }

span.role { font-size: small }

p.comment   { font-size: 10pt; font-weight: bold; padding-left: 25pt; }
h1.reflabel { font-size: 12pt; width: 80%; }
span.refid  { font-size: 9pt }

a.cbdbutton    { color: #ff0000; text-decoration: none; }
a.fixparse  { color: black; text-decoration: none; }
a.fixparse:hover  { color: black; text-decoration: underline; }

p.cbdbuttonbar { margin-top: -20pt;
	 	font-size: 8pt; font-weight: bold; line-height: 10pt;
		width: 100%;
		text-align: right; font-family: arial,sans-serif; }
span.cbdbutton { padding: 2pt; padding-bottom: 1pt; border: 2px; 
		border-style: outset; 
		background-color: #ccccff; }
span.cbdselbutton { padding: 2pt; padding-bottom: 1pt; border: 2px; 
		border-style: inset; 
		background-color: #ff0000; color: #ccccff }

td.label    { width: 20pt; text-align: right; padding-right: 5pt; 
              font-size: 9pt; color: gray; }
td.indent   { width: 10pt }

table.illl  { width: 100%; }
td.illl-label { width: 95%; text-align: right; background-color: silver; font-size: smaller; }
td.lilll    { width: 40%; }
td.rilll    { width: 50%; }

span.sqb    { font-style: normal; }
sup.gloss   { font-style: normal; }

span.data   { color: black }
span.MCDAT1 { color: red }
span.MCERG1 { color: blue }
span.MCABS1 { color: gray }
span.MCTER1 { color: green }
span.MCLT1  { color: maroon }
span.MCCOM1 { color: aqua }
span.MCLOC1 { color: fuchsia }
span.MCABL1 { color: navy }
span.MCEQU1 { color: teal }
span.MCS1   { color: black }

span.MCDAT3 { color: red }
span.MCERG3 { color: blue }
span.MCABS3 { color: gray }
span.MCTER3 { color: green }
span.MCLT3  { color: maroon }
span.MCCOM3 { color: aqua }
span.MCLOC3 { color: fuchsia }
span.MCABL3 { color: navy }
span.MCEQU3 { color: teal }
span.MCS3   { color: black }

hr.unitsep { border-style: outset }
hr.buttonsep { border-style: dotted }

img.icon { vertical-align: middle; border: none }

body.unisearch  { height: 100%; vertical-align: middle; 
	margin-top: auto; margin-bottom: auto; 
	padding: 0pt; padding-top: 3px; background-color: #99ccff; 
	font-family: Ungkam, "Lynn Serif", serif; }

body.xffeditform {padding: 0px; margin-top: 0px; margin-bottom: 0px;
		margin-left: auto; margin-right: auto; width: 96% }
body.xffeditform form {padding: 0px; margin: 0px}


div.unisearch { height: 100%; width: 100%; text-align: center; vertical-align: middle; 
	margin-top: auto; margin-bottom: auto; padding: 0; 
	font-size: 90%; font-weight: bold; }

p.unisearch { margin: 0pt; padding: 0pt; }

form.cbd { font-family: arial,sans-serif; font-weight: normal; 
	margin-top: 0pt; margin-bottom: 0pt; padding: 0pt; }

input.cbd[type="submit"] { font-size: 100%; font-family: arial,sans-serif; 
	font-weight: bold; padding: 0pt; margin: 0pt; vertical-align: middle; }

select.cbd { font-size: 100%; padding: 0pt; margin: 0pt; vertical-align: middle; }

input.cbdtext { 
	font-size: 110%; font-family: arial,sans-serif; font-weight: normal;
	padding: 0pt; margin: 0pt; line-height: .9em; vertical-align: middle; }

input.cbd { font-size: 100%; font-family: arial,sans-serif; font-weight: normal;
	padding: 0pt; margin: 0pt; vertical-align: middle; }

span.helpbutton { padding: 0pt; padding-left: 3px; padding-right: 3px; border: 2px; 
		  border-style: outset; font-size: 110%; font-weight: bold;
		  background-color: #ccccff; }

span.homebutton { padding: 0pt; padding-left: 3px; padding-right: 3px; 
		  border: 2px; 
		  border-style: outset; font-size: 110%; font-weight: bold; 
		  line-height: 0px; background-color: white; }

h1.pslres { font-size: 90%; margin-left: 3px; margin-right: 3px; }
h1.sign { font-size: small; margin-left: 3px; }
img { border: none; vertical-align: middle }
img.topimg { border: none; vertical-align: top }
p.signlink { margin: 0pt; margin-left: 3px; margin-right: 3px; padding: 0pt; }
span.sign { font-size: small }
p.cuneiform { margin-left: 3px; }
p.values { margin-left: 3px; margin-right: 3px; }

h1.psl { font-size: 80%; margin-left: 3px; 
	margin-bottom: 3px; margin-top: 3px; padding: 1px; 
	background-color: #cfc; color: black;
	font-family: arial, sans-serif; }
h2.psl { font-size: small; font-family: arial, sans-serif; 
	text-indent: -7pt; margin-left: 10px; 
	margin-bottom: 3px; margin-top: 3px; }
p.pslcun { text-align: right; margin-left: 3px; 
	margin-bottom: 3px; margin-top: 3px; }
p.psl-epsd { text-indent: -10px; margin-left: 20px; 
	margin-bottom: 2px; margin-top: 2px; }
p.psl-see-more { text-indent: -10px; margin-left: 20px; 
	margin-bottom: 2px; margin-top: 2px; }
span.psl-hinline { font-weight: bold; }
div.psl-epsd { border-top:  1px dotted silver;
	border-bottom: 1px dotted silver; }
div.psl-extra { border-bottom: 1px dotted silver; padding-bottom: 5px; }
div.psl-extra p { text-align: left; background-color: #9cf;
	margin: 0px; margin-top: 5px; padding-bottom: 0px; }
div.psl-extra p a { color: blue; }
div.psl-extra p a:hover { color: blue; background-color: red; }
div.psl-more { margin: 0px; padding: 0px; border: 0px;
	border-bottom: 5px solid #9c9; }
p.psl-more { margin: 0px; margin-top: 3px; margin-left: 2px; padding: 0px; }
span.psl-ahead { }
span.psl-aaka { font-weight: normal; }

h1.psl-e { font-size: 90%; margin: 3px; }
h2.psl-e { font-size: 90%; margin: 3px;
	padding: 1px; font-weight: normal;
	background-color: #cfc; color: black;
	font-family: arial, sans-serif; }
h3.psl-e { font-size: 90%; margin: 3px; }
hr.psl-e { margin-top: 3px; margin-bottom: 3px; margin-left: 20px; width: 400px; }
table.psl     { margin-left: 20px; vertical-align: baseline; }
td.psl-eleft  { width: 200px; font-family: arial, sans-serif; font-size: 90%; }
td.psl-eright { }

p.qn { font-size: 90%; }

p.issl { text-indent: -35px; margin-left: 40px; 
	margin-bottom: 2px; margin-top: 2px; line-height: 120% }
span.isslterm { font-weight: bold; color: red; font-size: 100%; 
	padding-right: 1em; min-width: 10em }

span.sesel { background-color: #99ccff; }

div.seresult p { margin-bottom: 3px; margin-top: 3px; padding: 0pt; 
	text-indent: -15px; margin-left: 20px }

td.aliases-l { text-align: right }
td.aliases-r { color: gray; padding-left: 10px }

span.arrow { font-size: 150%; vertical-align: top; 
  	font-weight: bold; padding-left: .2em; padding-right: .2em; 
	margin-top: 0pt; padding-top: 0pt; padding-bottom: 0pt; line-height: .75em; }

dt      { color: red }

p.outlink { width: 90%; margin: auto; margin-top: 1pc; }

span.outwhere { padding-right: 1em; font-weight: bold; font-size: 90%; }

p.label { padding-right: 1em; text-align: right }

h1.entry {
 	border: 1px; border-style: solid; 
	padding-left: 3px; padding-right: 3px;
	padding-top: 0px; padding-bottom: 0px; 
	line-height: 1.5em; margin: 0px; }

h1.obf-entry { 
	line-height: 1.5em; margin: 0px; }

p.icount { padding-right: 5px; text-align: right; 
	margin: 0px; margin-top: -1.35em; }

a.icount { font-size: 90% }

a.icountu { color: black; background-color: white; text-decoration: none; }
a.icountu:hover { color: white; background-color: red; }

h1.center { text-align: center }

h1.stt { font-size: 110%; font-weight: bold; text-align: center; }

table.stt { width: 80%; 
	margin-left: auto; margin-right: auto; border-collapse: collapse;
	border: 1px; border-width: 1px; border-style: solid }

table.stt tr td { border: 1px; border-width: 1px; border-style: solid; }

td.icount { 
	text-align: right; 
	padding-left: 2px; padding-right: 0px; 
	padding-top: 0px; padding-bottom: 0px;
	width: 4em; font-size: 90%; margin: 0pt }

span.iparh { font-weight: bold; }
span.ielt { padding-left: 5px; }

p.toces { text-align: center; font-size: 70%; font-family: arial,sans-serif; 
	font-weight: bold; padding: 0px; margin: 2px; }
hr.toces { margin: 1px; padding: 0px; color: red; }

/* Distribution Profile Styling */
div.dpform { background-color: #99ccff; color: black;
	padding-bottom: 2px; margin-bottom: 2px; }
div.dpform form { padding: 0px; margin: 0px; background-color: #99ccff; color: black;
	font-size: 80%; }
form.dp { padding: 0px; margin: 0px; }
h1.dp { padding: 0px; margin: 0px; font-size: 90%; }
h2.dp { padding: 0px; margin: 0px; font-size: 90%; }
h3.dp { padding: 0px; margin: 0px; font-size: 90%; }
h4.dp { padding: 0px; margin: 0px; font-size: 90%; }
p.dpcombo  { padding: 0px; margin: 0px; }
p.dp  { padding: 0px; margin: 0px; margin-left: 10px; 
	margin-bottom: 1px; margin-top: 1px; }
p.dpsel { padding: 0px; margin: 0px; margin-left: 10px; background-color: silver; }
div.dpotl { font-family: arial,sans-serif; font-size: 80%; }
div.dpl1  { margin-left: 0px; }
div.dpl2  { margin-left: 10px; }

/* Formset Styling */
h1.xff { font-size: 100%; }
div.xff { width: 100%;
	margin-left: auto; margin-right: auto; margin-top: 1px; }
table.xff { border-collapse: collapse; margin-left: auto; margin-right: auto; }
th.xffsortopt { background-color: #cab; 
	text-align: center; border: 1px solid black; 
	font-family: sans-serif; font-size: 90%; 
	padding: 2px }
th.xff { text-align: center; border: 1px solid black; 
	background-color: #fed; font-family: sans-serif; font-size: 90%; 
	padding: 2px }
td.xff { border: 1px solid silver; border-bottom: 1px solid gray; padding: 3px }
td.xffedit { border: 0px; background-color: white }
a.xff { text-decoration: none; color: black }
img.xff { border: 0px }

td.norules { border: 0px }
tr.even { background-color: #eee }

span.refsep { padding-right: .25em; color: black; }
span.refterm { padding-right: .4em; color: black; }
span.uform { font-family: arial, sans-serif; font-size: 90%; font-weight: bold; }
span.ugenre { font-size: 90%; font-weight: normal; }
span.uperiod { font-size: 80%; font-weight: bold; padding-right: .2em }
p.usage { margin-bottom: 0px; margin-top: 0px; margin-left: 1em; text-indent: -1em; padding: 0pt; }
span.usg-h { margin-right: 5px; }
.ulabel a { color: black }
span.uetc { font-style: italic; }

sub { font-style: normal; }

i { font-style: italic; font-weight: normal; }

span.translit span.selected { background-color: white; }
.translit { font-family: arial, sans-serif; font-size: 90%; font-weight: bold; }

span.translit a { color: black; }

/* .w { padding-left: 3px; padding-right: 3px; } */

.obf-header h1 { text-align: center; font-size: 140%; }
.obf-header h2 { text-align: center; font-size: 90%; }
div.letter { border-top: solid black 4px }
h1.obf-letter { font-size: 120%; text-align: center; }
span.obf-letter { margin-top: 2px; border: solid black 2px; padding: 5px; }

div.cbdtoc { width: 10%; }
p.cbdtoc-entry { margin: 0px; padding: 0px; padding-bottom: 4px; text-align: center; }

.iheader { font-size: 90%; font-weight: bold; padding-right: 1em; 
	 }

p.periods { padding-top: 0px; margin-top: .5em; 
	    padding-bottom: 0px; margin-bottom: 0px;
	    margin-left: 3em; text-indent: -3em;
}

p.forms { padding-top: 0px; margin-top: .5em; 
          padding-bottom: 0px; margin-bottom: 0px;
	  margin-left: 3em; text-indent: -3em;
}

p.norms { padding-top: 0px; margin-top: .5em; 
	  margin-left: 4em; text-indent: -3em;
}

p.morph { padding-top: 0px; padding-bottom: 0px;
	  margin-top: 0px; margin-right: 0px;
	  text-indent: -3em;
	  margin-left: 6em;
	  line-height: 1.2em;
	}
.punct-c { padding-right: .25em; }
.punct-sc { padding-right: .5em; }
.punct-isc  { padding-right: .25em; color: red; } /* inner semi-colon */

div.icbd .summary-headword { display: none; }

div.icbd { width: 90%; margin: auto; margin-top: 1em; }

div.header { margin-bottom: 1em; }

.cof-form-norm { font-size: 90%; }

.ogsl-punct { padding-right: .666rem; }
#ogsltop    { background-color: #efefef; width: 100%; }
#ogslform   { font-size: 9pt; font-family: arial, sans-serif; background-color: #9cf; }
#signframe  { border: none; margin: 0; padding: 0; 
	      width: 100%; height: 400px; }
.ogslres    { margin-top: 0; }

span.issl-term { color: red; margin-right: 1em; }

.lex-word div { margin-left: 0em; }
.lex-word h1 { font-size: medium; margin-left: 1em; }
.lex-word h2 { font-size: medium; margin-left: 2em; }
.lex-word h3 { font-size: medium; margin-left: 1em; }
p.lex-line  { margin-left: 3em; text-indent: 0em; }
p.lex-spel  { margin-left: 3em; text-indent: 0em; }
