#Content a { text-decoration: none; }

#Content a { color: black; }

#Content a:hover { background-color: #aaa; }

.@@hproject@@-info h3 { font-style: normal; }

.navbar { border: red; }

.tdsigns { margin-right: 5px; }

iframe { margin-width: 3px; }

.ii-signs { margin-right: 5px; }

