#Content a { text-decoration: none; }

#Content a { color: black; }

#Content a:hover { background-color: #aaa; }

.@@hproject@@-info h3 { font-style: normal; }

.navbar { border-style: outset; border-width: 2px; border-color: red; margin-bottom: 10px; }

.navbar p { margin: 0px !important; }

iframe { margin-width: 10px; border: none; border-left: 2px; }

.image-insts table { border-bottom: solid; }

.ii-signs { margin-right: 10px; padding-right: 10px; padding-left: 0px; margin-left: 0px; }

.ii-signs hr:first-child { margin-block-start: 0px; }

.ii-signs p { margin: 0px; }

.ii-insts { border-left: inset; padding-left: 10px; vertical-align: top; }

.ce { margin: 0px; }

.formjumps p {
    text-indent: -2in;
    margin-left: 2.5in;
}

.formjumps img {
    vertical-align: middle;
}

.middle { vertical-align: middle; }

table.pretty { background-color: white; }

.sl-td-name { font-size: 80%; font-family: arial,sans-serif; }

.sl-td-sign { text-align: center; }
