#Content a { text-decoration: none; }

#Content a { color: black; }

#Content a:hover { background-color: #aaa; }

.@@hproject@@-info h3 { font-style: normal; }

.navbar { border-style: outset; border-width: 2px; border-color: red; margin-bottom: 10px; }

.navbar p { margin: 0px !important; }

iframe { margin-width: 10px; border: none; border-left: 2px; }

.ii-signs { margin-right: 10px; padding-right: 10px; padding-left: 0px; margin-left: 0px; }

.ii-insts { border-left: inset; padding-left: 10px; }

.ce { margin: 0px; }
