
#slmain {
    display: block;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 80%;
    margin: 0px;
    padding: 0px;
}

#slform {
    display: block;
    position: absolute;
    top: 0px;
    height: 60px;
    left: 80%;
    width: 20%;
    margin: 0px;
    padding: 0px;
    border: 0;
}

#sllist {
    display: block;
    position: absolute;
    top: 10%;
    height: 90%;
    left: 80%;
    width: 20%;
    margin: 0px;
    padding: 0px;
    border: 0;
}
