/* @media block for small viewports (max 624px) */
@media screen and (max-width: 624px) {
.pc30 {
    width: 100%;
}
/* remove LH indent for lists */
ul, ol {
    margin-left: 5%;
    padding-left: 0;
}
#Breadcrumb {
    display: none;
}
#Content {
    margin: 1em 5% 0 5%;
    width: 90%;
}
#Banner {
    text-align: center;
}
#Header {
    padding: 0.5em 4%;
    background: #003399;
    margin: 0.3em 0 0;
    height: 3.5em;
    border-bottom: 0.5em solid #ffcc00;
}
#HeadTitle {
    font-size: 1.2em;
    color: #ffffff;
}
#HeadTitle a:link, #HeadTitle a:visited {
    color: #ffffff;
    background: #003399;
    text-decoration: none;
}
#HeadSubtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
    color: #ffffff;
}
#Menu {
    width: 95%;
    margin: 0.1px 0 0.1px 0;
    padding: 0;
    background: #ffffff;
}
#MenuCaption {
    margin-left: 5%;
    margin-bottom: 0.5em;
    padding-left: 0;
    font-size: 0.9em;
    font-weight: bold;
    width: 95%;
    border-bottom: 2px solid #ffcc00;
}
#Menu a {
    text-decoration: none;
}
#Menu ul {
    padding: 0;
    margin: 0;
}
#Menu ul ul {
    padding: 0.25em 0 0 4em;
    margin-bottom: 0.25em;
    border: 1px solid #ffcc00;
    border-top: 0;
}
#Menu ul ul ul {
    border-right: 0;
    padding: 0.25em 0 0 1em;
}
#Menu li {
    padding: 0;
    margin: 0;
    list-style-image: url(/img/blank.gif);
/* IE Win does weird stuff with list-style-type: none */
}
#Menu li.only {
    font-weight: normal;
}
#Menu ul a, ul #SelfInMenu {
    display: block;
    padding: 0.35em 1em 0.35em 5%;
    line-height: normal;
}
#Menu ul ul a, ul ul #SelfInMenu {
    padding: 0.35em 1em 0.35em 5%;
}
#Menu a.open:hover, #Menu a.closed:hover {
    color: $medium;
    background-color: $highlight;
}
#Menu a.open {
    background: $light;
}
#SelfInMenu {
    font-weight: bold;
}
#SelfInMenu.open {
    background-color: $light;
}
#AccessLinks {
    display: none;
}
#ReferenceLinks {
    display: none;
}
#BackToTop {
    text-align: right;
    margin: 0 5%;
}
#EndContentSpace {
    clear: both;
    height: 1em;
}
#FooterWhole {
    border-bottom: solid 1px #003399;
    margin: 0 5% 0.2em 5%;
    clear: both;
    height: 1em;
}
#FooterLeft {
    padding: 0 1em 0 5%;
}
#FooterRight {
    float: right;
    padding: 0 6em 0 5%;
}
}
