/* @media block for larger viewport sizes (625px and above)*/
@media screen and (min-width: 625px) {
	.pc05 {
		width: 05%;
	}

	.pc10 {
		width: 10%;
	}

	.pc15 {
		width: 15%;
	}

	.pc20 {
		width: 20%;
	}

	.pc25 {
		width: 25%;
	}

	.pc30 {
		width: 30%;
	}

	.pc35 {
		width: 35%;
	}

	.pc40 {
		width: 40%;
	}

	.pc45 {
		width: 45%;
	}

	.pc50 {
		width: 50%;
	}

	.pc55 {
		width: 65%;
	}

	.pc60 {
		width: 70%;
	}

	.pc65 {
		width: 65%;
	}

	.pc70 {
		width: 70%;
	}

	.pc75 {
		width: 75%;
	}

	.pc80 {
		width: 80%;
	}

	.pc85 {
		width: 85%;
	}

	.pc90 {
		width: 90%;
	}

	.pc95 {
		width: 95%;
	}

	.pc100 {
		width: 100%;
	}

	ul.biblio {
		list-style: none;
		margin-left: 5%;
		padding-left: 0;
	}

	ul.biblio li {
		margin-bottom: 1em;
	}

	table.pretty {
		margin: 2em 1em;
	}

	dl {
		margin: 1em 2em 1em 2em;
	}

	#Header {
		padding: 0px;
		background: $dark;
		margin: 0px;
		height: 3.6em;
		border-top: 4px solid $light;
		border-bottom: 4px solid $light;
	}

	#HeadTitle {
		margin: 0px;
		padding: 0px;
		padding-left: 1.5em;
		position: relative;
		top: 0.5em;
		font-size: 1.6em;
		color: #ffffff;
		/* $page */
	}

	body:dir(rtl) #HeadTitle {
		padding-right: 1.5em;
		vertical-align: middle;
	}

	#HeadTitle a:link,
	#HeadTitle a:visited {
		color: #ffffff;
		/* $page */
		background: $dark;
		text-decoration: none;
	}

	#HeadSubtitle {
		font-style: italic;
		font-weight: normal;
		font-size: 1.2em;
		color: #ffffff;
		/* $page */
	}

	/* without the dd class */
	#Content:not([class]) {
		margin-inline: 6%;
	}

	#menu-button {
		cursor: pointer;
		font-size: 1.5rem;
		padding-inline-start: 1rem;
	}

	#menu-button {
		cursor: pointer;
		font-size: 1.5rem;
		padding-inline-start: 1rem;
	}

	#menu-button {
		cursor: pointer;
		font-size: 1.5rem;
		padding-inline-start: 1rem;
	}

	#Menu {
		float: left;
		width: 20%;
		margin: 0.1px 0 0.1px 0;
		padding: 0 1em;
		color: #000;
		position: absolute;
		background-color: #fff;
		transition: left 0.5s ease;
		left: 0;
		box-shadow: 5px 5px 8px 0px #5a5959;
	}

	#Menu.hidden {
		left: -100vw;
	}

	body:dir(rtl) #Menu.hidden {
		right: 100vw;
	}

	#Menu.dd {
		color: #fff;
	}

	body:dir(rtl) #Menu {
		float: right;
		width: 20vw;
		padding-right: 1.5em;
		margin-right: 1em;
	}

	#MenuCaption {
		margin-bottom: 0.5em;
		padding-left: 0;
		font-size: 0.9em;
		font-weight: bold;
		width: 70%;
		border-bottom: 2px solid $light;
	}

	#Menu ul ul {
		padding: 0.25em 0 0 4em;
		margin-bottom: 0.25em;
		border: 1px solid $light;
		border-top: 0;
	}

	#Menu ul ul ul {
		border-right: 0;
		padding: 0.25em 0 0 1em;
	}

	#Menu ul a,
	ul #SelfInMenu {
		display: block;
		padding-block: 0.5rem;
		line-height: normal;
		margin-inline: 0.4rem;
	}

	#Menu ul ul a,
	ul ul #SelfInMenu {
		padding-block: 0.5rem;
		margin-inline: 0.4rem;
	}

	#AccessLinks {
		padding: 0 1em 0 4%;
		float: left;
	}

	#ReferenceLinks {
		padding: 0 4%;
		text-align: right;
	}

	#BackToTop {
		text-align: right;
		margin: 0 4%;
	}

	#EndContentSpace {
		clear: both;
		height: 1em;
	}

	#FooterWhole {
		border-bottom: solid 1px $dark;
		margin: 0 0 0.2em;
		clear: both;
		height: 1em;
	}

	#FooterLeft {
		padding: 0 4%;
	}

	#FooterRight {
		float: right;
		padding: 0 4%;
	}

	#switcherul {
		margin-left: 3em;
		margin-bottom: 0.5em;
		padding-left: 0;
		font-size: 0.9em;
		font-weight: bold;
		width: 70%;
		border-bottom: 2px solid $light;
	}
}