html {
	font-size: 0.9em;
}

body {
	width: 100%;
	margin: 0;
	padding: 0 0 1em 0;
	font-size: 1em;
	font-family: Verdana, "Trebuchet MS", helvetica, sans-serif;
	line-height: 1.6em;
	color: $text;
	background: $page;
}

code {
	font-family: "Courier New", Courier, mono;
	font-size: 1.2em;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

ol ol ol ol {
	list-style-type: upper-alpha;
}

ul li,
ol li {
	margin: 0 0 0.3em 0;
}

pre.listing {
	margin-left: 1em;
	margin-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	background-color: #f5f5dc;
	color: black;
}

pre.example {
	margin-left: 1em;
	margin-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	background-color: #eee;
	color: black;
}

pre.cookbook {
	margin-left: 1em;
	margin-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	background-color: #daf3e0;
	color: black;
}

td.cookbook {
	background-color: #daf3e0;
	color: black;
	vertical-align: middle;
}

.cookbook {
	background-color: #daf3e0;
	color: black;
}

.example {
	background-color: #eee;
	color: black;
}

.transcript {
	background-color: #e0e0e0;
	padding: 1em;
}

p.firstpara {
	font-weight: bold;
}

p {
	margin: 0 0 1.3em;
}

blockquote {
	margin: 0 2em 1.3em;
	font-size: 0.9em;
}

input {
	font-size: inherit;
}

div.imagefloat {
	margin: 0 0 0.5em 1em;
	float: right;
	clear: right;
	page-break-inside: avoid;
}

body:dir(rtl) .imagefloat {
	float: left;
	clear: left;
	margin: 0 1em 0.5em 0;
}

div.imageinline {
	margin: 1em 0;
	page-break-inside: avoid;
}

/* Consider moving this element to large-viewport.css ? */
div.imagefloat img {
	display: block;
	/* This width:100% is needed to make images grow to the width of their grid div; */
	/* If used with inline images it makes all images 100% instead of respecting the grid class */
	/*width:100%;*/
	/* Commented out sjt 20191223 */
	margin: 0;
	padding: 0;
	max-width: 100%;
}

/* Consider moving this element to large-viewport.css ? */
div.imageinline img {
	display: block;
	/* Removed width:100% from inline images as it makes all images 100% instead of respecting the grid class */
	margin: 0;
	padding: 0;
	max-width: 100%;
}

/* Styling for prettier tables. RH 9.7.2009 */
table.pretty {
	/*margin: 2em 2em 2em 3em; */
	background: #f5f5f5;
	border-collapse: collapse;
}

table.pretty th,
table.pretty td {
	border: 1px #c0c0c0 solid;
	padding: 0.2em;
	vertical-align: top;
}

table.pretty th {
	background: #dcdcdc;
	text-align: left;
	font-weight: normal;
}

table.pretty caption {
	margin-left: inherit;
	margin-right: inherit;
}

img {
	border-width: 0;
}

form {
	margin: 0;
}

div.imagecaption {
	margin: 0.5em 0 1.25em;
	font-size: 0.9em;
	line-height: normal;
}

.imagecaption p {
	width: 95%;
}

h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.4em;
	line-height: 1.3em;
	margin: 1.5em 0 1.3em;
}

h2 {
	font-size: 1.1em;
	line-height: 1.2em;
	margin: 1.7em 0 0.7em;
}

h3 {
	font-size: 1em;
	line-height: 1.1em;
	margin: 1.7em 0 0.7em;
	font-weight: normal;

	&:not(body:dir(rtl)) {
		font-style: italic;
	}
}

li h2,
li h3 {
	margin-top: 0;
}

dt {
	font-weight: bold;
}

dd {
	padding: 0 0 0.5em 0;
}

span.externallinktext {
	display: none;
}

span.glossarylink,
span.techtermslink,
span.indexlink,
span.textsizelink,
span.switcherlink {
	border: 1px solid #cccccc;
	color: $text;
	background: $page;
}

span.glossarylink a,
span.techtermslink a,
span.indexlink a,
span.textsizelink a,
span.switcherlink a {
	text-decoration: none;
}

span.glossarylink,
span.techtermslink,
span.indexlink {
	margin-left: 0.3em;
	font-size: 0.7em;
	vertical-align: top;
}

span.glossaryterm,
span.techterms,
span.indexterm {
	border-bottom: 1px solid #cccccc;
}

.highlighted {
	background: $highlight;
}

a:link {
	color: $dark;
	background-color: transparent;
}

a:visited {
	color: $medium;
	background-color: transparent;
}

a:link:hover,
a:visited:hover {
	color: $page;
	background: $dark;
}

#Banner {
	width: 100%;
	text-align: center;
}

#Content,
#Content.dd {
	margin-inline: 2.5em;
	width: 90%;
}

#Menu a {
	text-decoration: none;
}

#Menu a.open:hover,
#Menu a.closed:hover {
	color: $medium;
	background-color: $light;
}

#Menu a.open {
	background: $light;
}

#Menu ul {
	padding: 0;
	margin: 0;
	color: #111;
	background: #fff;
	list-style-type: none;
}

/* this is for displaying the dropdown */
#Menu.dd ul {
	display: none;
	position: absolute;
}

#Menu.dd:hover ul {
	display: block;
	position: absolute;
	border-radius: 5px;
	background-color: #fcfaf1;
}

#Menu li {
	padding: 0;
	margin: 0;
	list-style-image: url(/img/blank.gif);
	/* IE Win does weird stuff with list-style-type: none */
}

#Menu li.only {
	font-weight: normal;
}

#SelfInMenu {
	font-weight: bold;
}

#SelfInMenu.open {
	background-color: $light;
}

@file small-viewport.css @file large-viewport.css #Search {
	float: right;
	padding: 0.5em 6em 0.5em 1em;
	margin: 0.3em 0 0 -3px;
	height: 2.75em;
	border-bottom: 0.5em solid $light;
}

#Search label {
	font-weight: bold;
	color: #ffffff;
	/* $page */
}

#StyleSheetWarning {
	display: none;
}

#SiteMap a {
	text-decoration: none;
}

#SiteMap ul {
	margin: 0;
	padding-left: 2em;
	list-style: none;
}

#SiteMap>ul {
	padding-left: 0;
}

#SiteMap h2 {
	margin: 0.3em 0;
}

#SiteMap h3 {
	margin: 0.2em 0;
}

#SiteMap div {
	margin: 0.1em 0;
}

#AccessKeys {
	border: 0;
	margin: 0 1em;
	padding: 0;
}

#AccessKeys th,
#AccessKeys td {
	padding: 0 1em;
	text-align: left;
}

#AccessKeys th {
	border-bottom: solid 2px #333333;
	/* $text */
}

#AccessKeys tr.odd {
	background: #eeeeee;
	/* $alternate */
}

#Index h2,
#Glossary h2,
#Techterms h2 {
	float: left;
	margin: 0;
	color: $medium;
}

#Vocablist h2 {
	margin: 0;
	line-height: 1.3em;
	color: #333333;
	/* $text */
}

#Vocablist h2.empty {
	margin: 0 0 2.5em;
	line-height: 1.3em;
	color: #ccc;
}

#Index h3,
#Glossary dl,
#Techterms dl {
	margin: 0 0 0 3em;
}

#Index ul,
#Vocablist ul {
	list-style-type: none;
	margin: 0 0 1em 4em;
	padding: 0;
}

#Glossary dt {
	font-weight: bold;
}

#Techterms dt {
	font-weight: bold;
}

#Authors {
	clear: both;
	border-top: dotted 1px $dark;
	margin: 2.5em 0 0;
	padding: 1em 0 0;
	font-size: 0.9em;

	&:not(body:dir(rtl)) {
		font-style: italic;
	}
}

#CiteAs {
	font-size: 0.9em;
	word-wrap: break-word;
}

#Alphabet {
	margin: 0 0 1em;
	color: #ccc;
}

#Alphabet a {
	text-decoration: none;
}

#URL {
	display: none;
}

/* This is needed for visitorguide doco of new P3 icon-centric UI */
.p3icon {
	background-color: white;
	height: 18px;
	width: 18px;
	border: 2px solid silver;
	padding: 2px;
	border-radius: 9px;
}