/* @media block for small viewports (max 624px) */
@media screen and (max-width: 624px) {
	.pc30 {
		width: 100%;
	}

	/* remove LH indent for lists */
	ul,
	ol {
		margin-left: 5%;
		padding-left: 0;
	}

	table.pretty {
		margin: 2em 0;
	}

	#Breadcrumb {
		display: none;
	}

	#Banner {
		text-align: center;
	}

	#Header {
		padding: 0.5em 4%;
		background: $dark;
		margin: 0.3em 0 0;
		height: 3.5em;
		border-bottom: 0.5em solid $light;
	}

	#HeadTitle {
		font-size: 1.2em;
		color: #ffffff;
		/* $page */
	}

	#HeadTitle a:link,
	#HeadTitle a:visited {
		color: #ffffff;
		background: $dark;
		text-decoration: none;
	}

	#HeadSubtitle {
		font-style: italic;
		font-weight: normal;
		font-size: 1.2em;
		color: #ffffff;
		/* $page */
	}

	#Menu {
		width: 95%;
		margin: 0.1px 0 0.1px 0;
		padding: 0;
		color: #fff;
		position: relative;
	}

	#menu-button.classic {
		display: block;
	}

	#Menu.dd-always.hidden,
	#Menu.dd-mobile.hidden {
		left: -100vw;
	}

	body:dir(rtl) .dd-always.hidden,
	body:dir(rtl) .dd-mobile.hidden {
		right: 100vw;
	}

	.dd-always ul,
	.dd-mobile ul,
	.classic ul {
		display: block
	}

	.hidden ul {
		display: none;
	}

	#MenuCaption {
		margin-left: 5%;
		margin-bottom: 0.5em;
		padding-left: 0;
		font-size: 0.9em;
		font-weight: bold;
		width: 95%;
		border-bottom: 2px solid $light;
	}

	#Menu ul {
		padding: 0.5rem;
		margin: 0;
		color: #111;
		background: #fcfaf1;
		list-style-type: none;
		position: absolute;
		min-width: fit-content;
	}

	#Menu ul ul {
		padding: 0.25em 0 0 4em;
		margin-bottom: 0.25em;
		border: 1px solid $light;
		border-top: 0;
	}

	#Menu ul ul ul {
		border-right: 0;
		padding: 0.25em 0 0 1em;
	}

	#Menu ul a,
	ul #SelfInMenu {
		display: block;
		padding: 0.35em 1em 0.35em 5%;
		line-height: normal;
	}

	#Menu ul ul a,
	ul ul #SelfInMenu {
		padding: 0.35em 1em 0.35em 5%;
	}

	#Content {
		padding-inline: 4%;
	}

	#AccessLinks {
		display: none;
	}

	#ReferenceLinks {
		display: none;
	}

	#BackToTop {
		text-align: right;
		margin: 0 5%;
	}

	#EndContentSpace {
		clear: both;
		height: 1em;
	}

	#FooterWhole {
		border-bottom: solid 1px $dark;
		margin: 0 5% 0.2em 5%;
		clear: both;
		height: 1em;
	}

	#FooterLeft {
		padding: 0 1em 0 5%;
	}

	#FooterRight {
		float: right;
		padding: 0 6em 0 5%;
	}
}